In [1]:
import requests
from bs4 import BeautifulSoup

# url = 'https://www.zomato.com/jalandhar/sehgal-fast-food-shastri-nagar'
# headers = {'User-agent':'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Mobile Safari/537.36'}
# response = requests.get(url, headers=headers)
# response.status_code

In [2]:
import pandas as pd

In [3]:
headers = {'User-agent':'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Mobile Safari/537.36'}

In [4]:
# result_container = soup.find_all('a' )
# result_container

In [5]:
# a = soup.find('section',{'class':'sc-iGrrsa'}).find_all('span')
# a

In [6]:
# soup.find_all('a',{'class':'sc-ks3f96-0'})[4].get_text().split('/')[0]

In [7]:
# soup.find_all('a',{'class':'sc-ks3f96-0'})[3].get_text().split('/')[0]

In [8]:
# soup.find_all('div',{'class':'sc-1q7bklc-8'})[0].get_text().split(' ')[0]

In [163]:
import pandas as pd
jal = pd.read_excel("C:\\Users\\Lenovo\\Downloads\\Jalandhar.xlsx",sheet_name = "Sheet3")
jal

,name,price,cuisine,reviews,Location url
0,Biryani By Kilo,?400 for one,"Biryani, Mughlai, Kebab, Hyderabadi",4.1,https://www.zomato.com/jalandhar/biryani-by-ki...
1,Food Bazar,?400 for one,"South Indian, Chinese, North Indian, Fast Food...",4.3,https://www.zomato.com/jalandhar/food-bazar-sh...
2,Behrouz Biryani,?400 for one,"Biryani, Kebab, Mughlai",4.3,https://www.zomato.com/jalandhar/behrouz-birya...
3,Lovely Bake Studio,?400 for one,"Bakery, Chinese, Fast Food, Beverages",4.3,https://www.zomato.com/jalandhar/lovely-bake-s...
4,Chick Chick PPR,?400 for one,"North Indian, Mughlai, Chinese, Seafood",3.9,https://www.zomato.com/jalandhar/chick-chick-p...
...,...,...,...,...,...
640,Arora Food Court,?100 for one,North Indian,4,https://www.zomato.com/jalandhar/arora-food-co...
641,Fish Corner Dhaba,?100 for one,"North Indian, Mughlai",3.5,https://www.zomato.com/jalandhar/fish-corner-d...
642,Veggie Chaap,?150 for one,"Rolls, North Indian",4.1,https://www.zomato.com/jalandhar/veggie-chaap-...
643,Bombay Chaupati,NaN,"Street Food, Fast Food",3.9,https://www.zomato.com/jalandhar/bombay-chaupa...
644,Sehgal Fast Food,?150 for one,"Burger, Chinese",4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...

In [10]:
s = jal["Location url"]
b = s[642]
c = s[0:2]
c

0    https://www.zomato.com/jalandhar/biryani-by-ki...
1    https://www.zomato.com/jalandhar/food-bazar-sh...
Name: Location url, dtype: object

In [11]:
def fun(x):
    x = x.replace("/order","")
    return x
jal["Location url"] = jal["Location url"].apply(fun)
jal["reviews"] = jal["reviews"].astype(str)
jal.head()

,name,price,cuisine,reviews,Location url
0,Biryani By Kilo,?400 for one,"Biryani, Mughlai, Kebab, Hyderabadi",4.1,https://www.zomato.com/jalandhar/biryani-by-ki...
1,Food Bazar,?400 for one,"South Indian, Chinese, North Indian, Fast Food...",4.3,https://www.zomato.com/jalandhar/food-bazar-sh...
2,Behrouz Biryani,?400 for one,"Biryani, Kebab, Mughlai",4.3,https://www.zomato.com/jalandhar/behrouz-birya...
3,Lovely Bake Studio,?400 for one,"Bakery, Chinese, Fast Food, Beverages",4.3,https://www.zomato.com/jalandhar/lovely-bake-s...
4,Chick Chick PPR,?400 for one,"North Indian, Mughlai, Chinese, Seafood",3.9,https://www.zomato.com/jalandhar/chick-chick-p...

In [12]:
lst = []
for i in s:
    url = i
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    a = soup.find_all('a',{'class':'sc-ks3f96-0'})[4].get_text().split('/')[0]
    print(a)
    lst.append(a)

Urban Estate
Shastri Nagar
Shastri Nagar
Nakodar Road
PPR Market
Model Town
Adarsh Nagar
Shastri Nagar
GT Road
Nakodar Road
Maqsudan
Shastri Nagar
Shastri Nagar
Shastri Nagar
Shastri Nagar
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
GT Road
Model Town
Model Town
Shastri Nagar
Model Town
Nakodar Road
Adarsh Nagar
Shastri Nagar
GT Road
Adarsh Nagar
Shastri Nagar
Model Town
Model Town
Model Town
PPR Market
Shastri Nagar
Shastri Nagar
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
Nakodar Road
Maqsudan
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
PPR Market
Shastri Nagar
Shastri Nagar
Model Town
Model Town
Model Town
Model Town
Shastri Nagar
Urban Estate
Model Town
Model Town
Shastri Nagar
Shastri Nagar
Model Town
PPR Market
Model Town
Model House
Model Town
Model Town
Shastri Nagar
Urban Estate
Model Town
Model House
PPR Market
PPR Market
Transport Nagar
Nakodar Road
Model Town
Adarsh Nagar
Shastri Nagar
Shastri Nagar
Urban Estate
Model Town
PPR Market
GT Road
Adarsh Nagar
Shastri Nagar
Adarsh Nagar
Shastri Nagar
Model House
Shastri Nagar
Shastri Nagar
Adarsh Nagar
PPR Market
GT Road
Model Town
Shastri Nagar
Model Town
Shastri Nagar
Model Town
Shastri Nagar
PPR Market
Maqsudan
Urban Estate
Adarsh Nagar
Shastri Nagar
Model Town
Adarsh Nagar
Model Town
Model Town
Nakodar Road
Nakodar Road
Nakodar Road
GT Road
Urban Estate
Shastri Nagar
PPR Market
Adarsh Nagar
Urban Estate
Shastri Nagar
Nakodar Road
Transport Nagar
Shastri Nagar
Model Town
PPR Market
Model Town
Shastri Nagar
Adarsh Nagar
Jalandhar Cantt
Shastri Nagar
PPR Market
PPR Market
GT Road
Rama Mandi
Urban Estate
Shastri Nagar
Model Town
Shastri Nagar
Shastri Nagar
Maqsudan
Maqsudan
Shastri Nagar
Model Town
Maqsudan
Adarsh Nagar
Adarsh Nagar
Model Town
Model House
Shastri Nagar
GT Road
Shastri Nagar
Model Town
Adarsh Nagar
Adarsh Nagar
Model Town
Model Town
Shastri Nagar
Adarsh Nagar
Shastri Nagar
Nakodar Road
Shastri Nagar
Rama Mandi
Shastri Nagar
Maqsudan
GT Road
Model Town
Adarsh Nagar
Maqsudan
Model Town
Model Town
Nakodar Road
Urban Estate
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
Model Town
Model Town
Shastri Nagar
Model Town
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
Model Town
Shastri Nagar
Model House
Shastri Nagar
Adarsh Nagar
Nakodar Road
Adarsh Nagar
Model Town
GT Road
Urban Estate
Model Town
Urban Estate
GT Road
Urban Estate
Model Town
GT Road
Shastri Nagar
Rama Mandi
Shastri Nagar
Adarsh Nagar
Model Town
GT Road
Model Town
Model House
Model House
Nakodar Road
Model Town
PPR Market
Maqsudan
Shastri Nagar
Urban Estate
Model Town
Shastri Nagar
Adarsh Nagar
Maqsudan
Shastri Nagar
PPR Market
Adarsh Nagar
Nakodar Road
Adarsh Nagar
Shastri Nagar
Urban Estate
Shastri Nagar
Shastri Nagar
PPR Market
Adarsh Nagar
Shastri Nagar
Shastri Nagar
Urban Estate
Shastri Nagar
Adarsh Nagar
Adarsh Nagar
PPR Market
Nakodar Road
Model Town
PPR Market
Shastri Nagar
Model Town
Model Town
Nakodar Road
PPR Market
Urban Estate
GT Road
Model Town
Urban Estate
Maqsudan
Shastri Nagar
Shastri Nagar
Transport Nagar
Shastri Nagar
PPR Market
Shastri Nagar
Shastri Nagar
Shastri Nagar
Model Town
GT Road
Urban Estate
Model Town
Shastri Nagar
Shastri Nagar
Maqsudan
Shastri Nagar
Model Town
Urban Estate
Model Town
Urban Estate
Adarsh Nagar
GT Road
GT Road
Adarsh Nagar
PPR Market
Adarsh Nagar
Adarsh Nagar
Urban Estate
Model Town
Urban Estate
Shastri Nagar
Urban Estate
Maqsudan
Shastri Nagar
Adarsh Nagar
PPR Market
Nakodar Road
Model Town
Shastri Nagar
GT Road
Urban Estate
Transport Nagar
Urban Estate
Adarsh Nagar
Nakodar Road
Shastri Nagar
GT Road
Shastri Nagar
Shastri Nagar
Shastri Nagar
PPR Market
Model Town
Adarsh Nagar
Model Town
GT Road
Model House
Model Town
Model House
Model Town
Adarsh Nagar
Model Town
Model Town
Model Town
Adarsh Nagar
Urban Estate
Model House
Model Town
Maqsudan
Adarsh Nagar
Shastri Nagar
Urban Estate
Shastri Nagar
Urban Estate
Urban Estate
Shastri Nagar
Rama Mandi
Shastri Nagar
Model Town
Shastri Nagar
Urban Estate
Shastri Nagar
Model House
Model Town
GT Road
Transport Nagar
Adarsh Nagar
Model Town
Model Town
Shastri Nagar
Model Town
Model House
Adarsh Nagar
Shastri Nagar
Maqsudan
Nakodar Road
Urban Estate
Adarsh Nagar
Nakodar Road
Nakodar Road
Urban Estate
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
Shastri Nagar
Shastri Nagar
Model House
Model Town
Model House
Shastri Nagar
Shastri Nagar
Shastri Nagar
Shastri Nagar
Adarsh Nagar
Nakodar Road
Shastri Nagar
Adarsh Nagar
Nakodar Road
Model Town
Maqsudan
Model House
Transport Nagar
Model Town
Adarsh Nagar
Rama Mandi
Maqsudan
Urban Estate
Shastri Nagar
Transport Nagar
Shastri Nagar
Transport Nagar
Rama Mandi
Shastri Nagar
Maqsudan
Urban Estate
Maqsudan
PPR Market
Urban Estate
Maqsudan
Nakodar Road
Adarsh Nagar
Shastri Nagar
Model Town
Shastri Nagar
Model Town
Model Town
Maqsudan
PPR Market
Shastri Nagar
Shastri Nagar
Urban Estate
Adarsh Nagar
Shastri Nagar
Urban Estate
Adarsh Nagar
GT Road
Adarsh Nagar
Maqsudan
Model Town
Adarsh Nagar
Nakodar Road
Adarsh Nagar
Urban Estate
Model Town
Shastri Nagar
Shastri Nagar
Model Town
Adarsh Nagar
Rama Mandi
Model Town
Shastri Nagar
Model Town
GT Road
Urban Estate
Model House
Urban Estate
Model House
Urban Estate
Shastri Nagar
GT Road
Adarsh Nagar
Urban Estate
Adarsh Nagar
GT Road
Model House
Urban Estate
PPR Market
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
Urban Estate
Model House
Urban Estate
Urban Estate
Shastri Nagar
PPR Market
Shastri Nagar
Nakodar Road
GT Road
GT Road
Model House
PPR Market
Model Town
Shastri Nagar
Adarsh Nagar
Model Town
Shastri Nagar
GT Road
Shastri Nagar
PPR Market
Model Town
Shastri Nagar
Urban Estate
Nakodar Road
Adarsh Nagar
Shastri Nagar
Nakodar Road
Nakodar Road
Nakodar Road
Shastri Nagar
Model House
Shastri Nagar
Urban Estate
Nakodar Road
Shastri Nagar
Adarsh Nagar
Shastri Nagar
PPR Market
GT Road
GT Road
Adarsh Nagar
Adarsh Nagar
Urban Estate
Model House
Adarsh Nagar
Urban Estate
Urban Estate
PPR Market
Model Town
Maqsudan
Shastri Nagar
Shastri Nagar
Model Town
Adarsh Nagar
Shastri Nagar
Shastri Nagar
Adarsh Nagar
Shastri Nagar
Adarsh Nagar
Maqsudan
Maqsudan
PPR Market
Model Town
PPR Market
Model Town
PPR Market
Nakodar Road
Adarsh Nagar
PPR Market
GT Road
Urban Estate
Shastri Nagar
Shastri Nagar
Adarsh Nagar
GT Road
Jalandhar Cantt
Adarsh Nagar
Model Town
Shastri Nagar
Urban Estate
Adarsh Nagar
GT Road
PPR Market
Nakodar Road
PPR Market
Model Town
Model Town
Model House
PPR Market
Shastri Nagar
Adarsh Nagar
Model Town
Model House
Urban Estate
Adarsh Nagar
Nakodar Road
Adarsh Nagar
Adarsh Nagar
GT Road
Shastri Nagar
Model Town
Shastri Nagar
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
Nakodar Road
Urban Estate
Urban Estate
Shastri Nagar
Shastri Nagar
Maqsudan
Adarsh Nagar
Model Town
Adarsh Nagar
Model Town
Model Town
Shastri Nagar
PPR Market
Model Town
Shastri Nagar
Shastri Nagar
Shastri Nagar
Urban Estate
Model Town
Model Town
Shastri Nagar
Model House
Adarsh Nagar
PPR Market
Shastri Nagar
PPR Market
Urban Estate
Rama Mandi
Rama Mandi
Shastri Nagar
Model Town
Shastri Nagar
Adarsh Nagar
GT Road
Nakodar Road
Adarsh Nagar
Nakodar Road
Nakodar Road
Shastri Nagar
Adarsh Nagar
Shastri Nagar
Shastri Nagar
Urban Estate
Adarsh Nagar
Shastri Nagar
Urban Estate
Urban Estate
Urban Estate
Shastri Nagar
Shastri Nagar
PPR Market
Shastri Nagar
Shastri Nagar
Adarsh Nagar
Jalandhar Cantt
Adarsh Nagar
Rama Mandi
Urban Estate
Shastri Nagar
Model House
Adarsh Nagar
Model Town
Urban Estate
PPR Market
Jalandhar Cantt
Urban Estate
Model Town
Urban Estate
Adarsh Nagar
Jalandhar Cantt
Model Town
Model Town
Nakodar Road
Model Town
Adarsh Nagar
PPR Market
Model Town
Model Town
GT Road
PPR Market
Model House
PPR Market
PPR Market
Shastri Nagar
Adarsh Nagar
Maqsudan
Shastri Nagar
Jalandhar Cantt
GT Road
Adarsh Nagar
Nakodar Road
Model Town
PPR Market
Adarsh Nagar
PPR Market
Shastri Nagar
Adarsh Nagar
Adarsh Nagar
Adarsh Nagar
Rama Mandi
Shastri Nagar
Shastri Nagar
Adarsh Nagar
Adarsh Nagar
Adarsh Nagar
Shastri Nagar
Shastri Nagar
Shastri Nagar
Model Town
Shastri Nagar

In [13]:
loc = lst
len(lst)

645

In [14]:
reviews = []
url = "https://www.zomato.com/jalandhar/biryani-by-kilo-urban-estate"
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')
print(soup.find('section',{'class':'sc-cqCuEk'}).get_text().split('fill')[2].split(' ')[0])
soup.find_all('div',{'class':'sc-1q7bklc-8'})[1].get_text().split(' ')[0]

3,083

'3,083'

In [30]:
lst2 = []
import requests
from bs4 import BeautifulSoup
headers = {'User-agent':'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Mobile Safari/537.36'}
s = jal["Location url"]
cnt=0
reviews = jal["reviews"]

for i in s:
    url=i
    print(cnt," - ",url)
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    if reviews[cnt]!="New":
        a = soup.find('section',{'class':'sc-cqCuEk'}).get_text().split('fill')[2].split(' ')[0]
        lst2.append(a)
        print(a)
    else:
        lst2.append("0")
        print("0")
    cnt+=1

0  -  https://www.zomato.com/jalandhar/biryani-by-kilo-urban-estate
3,083
1  -  https://www.zomato.com/jalandhar/food-bazar-shastri-nagar
40.5K
2  -  https://www.zomato.com/jalandhar/behrouz-biryani-shastri-nagar
900
3  -  https://www.zomato.com/jalandhar/lovely-bake-studio-nakodar-road
9,438
4  -  https://www.zomato.com/jalandhar/chick-chick-ppr-ppr-market
20.2K
5  -  https://www.zomato.com/jalandhar/aggarwal-vaishno-dhaba-1-model-town
33.9K
6  -  https://www.zomato.com/jalandhar/the-pizza-bunker-adarsh-nagar
343
7  -  https://www.zomato.com/jalandhar/raju-cheese-corner-shastri-nagar
11K
8  -  https://www.zomato.com/jalandhar/gkc-chaap-plaza-gt-road
1,851
9  -  https://www.zomato.com/jalandhar/aar-kay-vaishno-dhaba-nakodar-road
54K
10  -  https://www.zomato.com/jalandhar/maddi-refreshment-1-maqsudan
22.3K
11  -  https://www.zomato.com/jalandhar/sunny-food-corner-shastri-nagar
7,092
12  -  https://www.zomato.com/jalandhar/mcdonalds-shastri-nagar
7,229
13  -  https://www.zomato.com/jalandhar/new-h-s-king-kulfi-dhaba-shastri-nagar
15.9K
14  -  https://www.zomato.com/jalandhar/bliss-vaishno-dhaba-shastri-nagar
12.9K
15  -  https://www.zomato.com/jalandhar/gfc-chaap-hub-adarsh-nagar
8,701
16  -  https://www.zomato.com/jalandhar/nanak-vegetarian-dhaba-adarsh-nagar
43.5K
17  -  https://www.zomato.com/jalandhar/burger-king-2-shastri-nagar
20.8K
18  -  https://www.zomato.com/jalandhar/guru-kirpa-pure-vegetarian-food-gt-road
6,275
19  -  https://www.zomato.com/jalandhar/yummy-delicious-till-last-bite-6-model-town
6,795
20  -  https://www.zomato.com/jalandhar/oberoi-special-chana-bhatura-model-town
27.7K
21  -  https://www.zomato.com/jalandhar/shahi-daawat-dhaba-shastri-nagar
6,502
22  -  https://www.zomato.com/jalandhar/kamal-vaishno-dhaba-model-town
11.4K
23  -  https://www.zomato.com/jalandhar/chhabra-sweets-delights-nakodar-road
29.5K
24  -  https://www.zomato.com/jalandhar/pizza-roberto-adarsh-nagar
1,213
25  -  https://www.zomato.com/jalandhar/s-k-dhaba-vegetarian-shastri-nagar
25K
26  -  https://www.zomato.com/jalandhar/asf-american-style-fried-gt-road
4,788
27  -  https://www.zomato.com/jalandhar/new-aar-kay-vaishno-dhaba-adarsh-nagar
7,537
28  -  https://www.zomato.com/jalandhar/food-plaza-1-shastri-nagar
3,436
29  -  https://www.zomato.com/jalandhar/vanakkam-model-town
17.4K
30  -  https://www.zomato.com/jalandhar/bikanervala-1-model-town
9,555
31  -  https://www.zomato.com/jalandhar/pizza-hut-model-town
5,636
32  -  https://www.zomato.com/jalandhar/bowl-wala-ppr-market
2,159
33  -  https://www.zomato.com/jalandhar/dimcy-nutri-kulcha-shastri-nagar
7,554
34  -  https://www.zomato.com/jalandhar/kfc-shastri-nagar
2,531
35  -  https://www.zomato.com/jalandhar/anmol-crispy-crispy-2-adarsh-nagar
747
36  -  https://www.zomato.com/jalandhar/super-cremica-sweets-adarsh-nagar
1,311
37  -  https://www.zomato.com/jalandhar/oberoi-special-shastri-nagar
800
38  -  https://www.zomato.com/jalandhar/subway-nakodar-road
4,925
39  -  https://www.zomato.com/jalandhar/ark-vaishno-dhaba-maqsudan
6,741
40  -  https://www.zomato.com/jalandhar/hari-burger-adarsh-nagar
32.9K
41  -  https://www.zomato.com/jalandhar/muscleholics-adarsh-nagar
1,550
42  -  https://www.zomato.com/jalandhar/sweety-juice-bar-restaurant-shastri-nagar
10.3K
43  -  https://www.zomato.com/jalandhar/la-pinoz-pizza-ppr-market
473
44  -  https://www.zomato.com/jalandhar/kartar-vaishno-dhaba-shastri-nagar
13.6K
45  -  https://www.zomato.com/jalandhar/anil-fast-food-and-ice-cream-shastri-nagar
10.5K
46  -  https://www.zomato.com/jalandhar/wok-singh-model-town
3,004
47  -  https://www.zomato.com/jalandhar/baba-chicken-since-1964-model-town
11.2K
48  -  https://www.zomato.com/jalandhar/baithak-model-town
35.1K
49  -  https://www.zomato.com/jalandhar/baba-chicken-model-town
13.3K
50  -  https://www.zomato.com/jalandhar/bobby-nutri-kulcha-amritsari-allu-kulcha-shastri-nagar
781
51  -  https://www.zomato.com/jalandhar/street-feast-urban-estate
1,303
52  -  https://www.zomato.com/jalandhar/scf-chaap-and-kababs-model-town
3,351
53  -  https://www.zomato.com/jalandhar/salad-master-model-town
5,447
54  -  https://www.zomato.com/jalandhar/sagar-ratna-1-shastri-nagar
5,634
55  -  https://www.zomato.com/jalandhar/sh-narayan-dass-ji-bare-wale-4-shastri-nagar
1,297
56  -  https://www.zomato.com/jalandhar/bittu-pardesi-model-town
22.8K
57  -  https://www.zomato.com/jalandhar/deliver-my-diet-ppr-market
30.4K
58  -  https://www.zomato.com/jalandhar/spaghetti-club-model-town
1,058
59  -  https://www.zomato.com/jalandhar/seven-heaven-model-house
4,287
60  -  https://www.zomato.com/jalandhar/the-belgian-waffle-co-model-town
10.2K
61  -  https://www.zomato.com/burgerboyz
6,079
62  -  https://www.zomato.com/jalandhar/manni-dhaba-shastri-nagar
7,852
63  -  https://www.zomato.com/jalandhar/platoon-pizza-urban-estate
4,322
64  -  https://www.zomato.com/jalandhar/kathi-nation-model-town
2,862
65  -  https://www.zomato.com/jalandhar/yadav-chole-bhature-model-house
14K
66  -  https://www.zomato.com/jalandhar/chumber-fast-food-ppr-market
3,796
67  -  https://www.zomato.com/jalandhar/muscleholics-ppr-market
5,973
68  -  https://www.zomato.com/jalandhar/neels-transport-nagar
1,127
69  -  https://www.zomato.com/jalandhar/al-kareem-restaurant-nakodar-road
1,005
70  -  https://www.zomato.com/jalandhar/the-popeyes-kitchen-model-town
1,003
71  -  https://www.zomato.com/jalandhar/kanta-chhuri-adarsh-nagar
12.5K
72  -  https://www.zomato.com/jalandhar/dominos-pizza-2-shastri-nagar
5,633
73  -  https://www.zomato.com/jalandhar/dhan-guru-ramdass-sweet-shop-shastri-nagar
11.3K
74  -  https://www.zomato.com/jalandhar/neels-urban-estate
619
75  -  https://www.zomato.com/jalandhar/ubq-by-barbeque-nation-model-town
4,062
76  -  https://www.zomato.com/jalandhar/bonfire-ppr-market
14.9K
77  -  https://www.zomato.com/jalandhar/coffizza-cafe-restro-gt-road
705
78  -  https://www.zomato.com/jalandhar/chick-chick-2-adarsh-nagar
2,123
79  -  https://www.zomato.com/jalandhar/pizza-hut-shastri-nagar
1,738
80  -  https://www.zomato.com/jalandhar/b4-veg-non-veg-dhaba-adarsh-nagar
21.1K
81  -  https://www.zomato.com/jalandhar/billa-kulfi-corner-shastri-nagar
18.5K
82  -  https://www.zomato.com/jalandhar/rabi-dana-pani-dhaba-model-house
2,458
83  -  https://www.zomato.com/jalandhar/jwale-di-hatti-1-shastri-nagar
557
84  -  https://www.zomato.com/jalandhar/hotel-plaza-bar-restaurant-shastri-nagar
15.3K
85  -  https://www.zomato.com/jalandhar/amritsari-lovely-dhaba-adarsh-nagar
25.8K
86  -  https://www.zomato.com/jalandhar/just-cake-n-bake-ppr-market
7,755
87  -  https://www.zomato.com/jalandhar/panwar-fast-food-rasoi-gt-road
2,806
88  -  https://www.zomato.com/jalandhar/kulcha-land-model-town
10.4K
89  -  https://www.zomato.com/jalandhar/heat-7-family-restaurant-shastri-nagar
2,623
90  -  https://www.zomato.com/jalandhar/parveen-bakers-ville-1-model-town
1,182
91  -  https://www.zomato.com/jalandhar/ovenstory-pizza-shastri-nagar
947
92  -  https://www.zomato.com/jalandhar/caldos-pizza-cafe-model-town
3,578
93  -  https://www.zomato.com/jalandhar/super-cremica-fast-food-restaurant-shastri-nagar
2,297
94  -  https://www.zomato.com/jalandhar/jacks-pizzeria-ppr-market
9,584
95  -  https://www.zomato.com/jalandhar/king-restaurant-maqsudan
8,865
96  -  https://www.zomato.com/jalandhar/burgrill-the-win-win-burger-urban-estate
289
97  -  https://www.zomato.com/jalandhar/burger-era-adarsh-nagar
725
98  -  https://www.zomato.com/jalandhar/the-biryani-life-shastri-nagar
139
99  -  https://www.zomato.com/jalandhar/the-american-chicken-model-town
2,923
100  -  https://www.zomato.com/jalandhar/ahuja-chana-bhatura-adarsh-nagar
5,881
101  -  https://www.zomato.com/jalandhar/ahuja-chana-bhatura-model-town
3,237
102  -  https://www.zomato.com/jalandhar/tawa-parat-model-town
331
103  -  https://www.zomato.com/jalandhar/jalandhar-nutri-kulcha-nakodar-road
10.7K
104  -  https://www.zomato.com/jalandhar/pranthas-hub-nakodar-road
1,699
105  -  https://www.zomato.com/jalandhar/lovely-sweets-nakodar-road
7,468
106  -  https://www.zomato.com/jalandhar/hello-food-gt-road
842
107  -  https://www.zomato.com/jalandhar/bhaj-govindam-urban-estate
3,485
108  -  https://www.zomato.com/jalandhar/dhanne-de-pote-di-hatti-shastri-nagar

2,287
109  -  https://www.zomato.com/jalandhar/yo-pizza-ppr-market
15.2K
110  -  https://www.zomato.com/jalandhar/sh-narayan-dass-ji-bare-wale-football-chowk-adarsh-nagar
93
111  -  https://www.zomato.com/jalandhar/sanjha-chulla-chaunka-urban-estate
2,555
112  -  https://www.zomato.com/jalandhar/hungers-villa-shastri-nagar
2,963
113  -  https://www.zomato.com/jalandhar/friendzz-chick-chick-nakodar-road
8,282
114  -  https://www.zomato.com/jalandhar/kartar-manni-dhaba-sodal-chowk-transport-nagar
1,604
115  -  https://www.zomato.com/jalandhar/old-kartar-vaishno-dhaba-shastri-nagar
6,596
116  -  https://www.zomato.com/jalandhar/ampm-khao-piyo-jiyo-model-town
6,275
117  -  https://www.zomato.com/jalandhar/everyday-fresh-ppr-market
12.6K
118  -  https://www.zomato.com/jalandhar/nik-bakers-model-town
806
119  -  https://www.zomato.com/jalandhar/faasos-shastri-nagar
876
120  -  https://www.zomato.com/jalandhar/my-pizza-adarsh-nagar
1,142
121  -  https://www.zomato.com/jalandhar/hichki-restaurant-jalandhar-cantt
461
122  -  https://www.zomato.com/jalandhar/ganga-juice-1-shastri-nagar
855
123  -  https://www.zomato.com/jalandhar/shape-of-you-ppr-market
6,513
124  -  https://www.zomato.com/jalandhar/amritsari-kulcha-point-ppr-market
4,599
125  -  https://www.zomato.com/jalandhar/sri-krishna-dhaba-gt-road
7,490
126  -  https://www.zomato.com/jalandhar/yummy-bitee-ladhewali-rama-mandi
11.2K
127  -  https://www.zomato.com/jalandhar/soni-dosa-urban-estate
1,631
128  -  https://www.zomato.com/jalandhar/kathi-junction-shastri-nagar
11.8K
129  -  https://www.zomato.com/jalandhar/parkash-bakery-model-town
640
130  -  https://www.zomato.com/jalandhar/new-parkash-icecream-shastri-nagar
10.6K
131  -  https://www.zomato.com/jalandhar/the-ghanshyam-amritsar-mithaiwale-shastri-nagar
530
132  -  https://www.zomato.com/jalandhar/maddis-chole-bhature-maqsudan
1,154
133  -  https://www.zomato.com/jalandhar/abhinandan-amritsari-kulcha-bunker-maqsudan
394
134  -  https://www.zomato.com/jalandhar/sainik-chicken-corner-1-shastri-nagar
3,648
135  -  https://www.zomato.com/jalandhar/midway-healthy-meal-model-town
285
136  -  https://www.zomato.com/jalandhar/chicken-plaza-dhaba-maqsudan
2,991
137  -  https://www.zomato.com/jalandhar/nanak-fast-food-adarsh-nagar
5,946
138  -  https://www.zomato.com/jalandhar/the-fusion-bite-adarsh-nagar
539
139  -  https://www.zomato.com/jalandhar/cafe-new-york-gymers-kitchen-model-town
3,320
140  -  https://www.zomato.com/jalandhar/inderprasth-khana-khazana-model-house
5,345
141  -  https://www.zomato.com/jalandhar/cafe-coffee-day-shastri-nagar
253
142  -  https://www.zomato.com/jalandhar/sh-narayan-dass-ji-bare-wale-doaba-chowk-gt-road
2,692
143  -  https://www.zomato.com/jalandhar/hotel-dolphin-1-shastri-nagar
7,185
144  -  https://www.zomato.com/jalandhar/danny-boy-4-model-town
1,986
145  -  https://www.zomato.com/jalandhar/king-kulfi-adarsh-nagar
4,278
146  -  https://www.zomato.com/jalandhar/king-omelette-adarsh-nagar
5,666
147  -  https://www.zomato.com/jalandhar/uncle-jacks-model-town
344
148  -  https://www.zomato.com/jalandhar/cake-house-model-town
2,621
149  -  https://www.zomato.com/jalandhar/jain-poori-wala-shastri-nagar
3,431
150  -  https://www.zomato.com/jalandhar/the-amritsari-kulcha-junction-adarsh-nagar
596
151  -  https://www.zomato.com/jalandhar/gopi-ram-poori-wale-shastri-nagar
2,423
152  -  https://www.zomato.com/jalandhar/satish-vaishno-dhaba-nakodar-road
2,450
153  -  https://www.zomato.com/jalandhar/sodhi-jalebi-shastri-nagar
2,379
154  -  https://www.zomato.com/jalandhar/green-vaishno-dhaba-rama-mandi
2,365
155  -  https://www.zomato.com/jalandhar/the-good-bowl-shastri-nagar
234
156  -  https://www.zomato.com/jalandhar/jain-sweet-shop-maqsudan
890
157  -  https://www.zomato.com/jalandhar/biryani-dil-se-gt-road
1,199
158  -  https://www.zomato.com/jalandhar/babita-fast-food-model-town
2,066
159  -  https://www.zomato.com/jalandhar/brgr-shurger-adarsh-nagar
223
160  -  https://www.zomato.com/jalandhar/satnamia-da-lovely-dhaba-maqsudan
1,457
161  -  https://www.zomato.com/jalandhar/xero-degrees-model-town
560
162  -  https://www.zomato.com/jalandhar/the-coffee-bean-tea-leaf-model-town
927
163  -  https://www.zomato.com/jalandhar/shama-chicken-corner-nakodar-road
254
164  -  https://www.zomato.com/jalandhar/big-daddy-momos-cafe-urban-estate
569
165  -  https://www.zomato.com/jalandhar/lovely-dhaba-veg-champ-food-adarsh-nagar
281
166  -  https://www.zomato.com/jalandhar/basant-continental-adarsh-nagar
3,704
167  -  https://www.zomato.com/jalandhar/gulu-pizza-king-shastri-nagar
640
168  -  https://www.zomato.com/jalandhar/jass-bakers-model-town
449
169  -  https://www.zomato.com/jalandhar/baskin-robbins-model-town
2,328
170  -  https://www.zomato.com/jalandhar/lunchbox-meals-and-thalis-shastri-nagar
166
171  -  https://www.zomato.com/jalandhar/tripti-foods-ambala-wale-model-town
625
172  -  https://www.zomato.com/jalandhar/quality-food-veg-non-veg-adarsh-nagar
2,970
173  -  https://www.zomato.com/jalandhar/dashmesh-bakery-and-cake-house-adarsh-nagar
450
174  -  https://www.zomato.com/jalandhar/guru-nadar-vaishno-dhaba-shastri-nagar
208
175  -  https://www.zomato.com/jalandhar/parrys-pizzeria-model-town
628
176  -  https://www.zomato.com/jalandhar/sandy-sandwich-corner-shastri-nagar
995
177  -  https://www.zomato.com/jalandhar/biryani-pot-model-house
4,881
178  -  https://www.zomato.com/jalandhar/navrattan-foods-shastri-nagar
312
179  -  https://www.zomato.com/jalandhar/@169-adarsh-nagar
297
180  -  https://www.zomato.com/jalandhar/am-pm-fast-food-nakodar-road
2,791
181  -  https://www.zomato.com/jalandhar/spicy-chaap-corner-adarsh-nagar
378
182  -  https://www.zomato.com/jalandhar/parveens-bakers-and-confectioners-model-town
1,241
183  -  https://www.zomato.com/jalandhar/chowpatty-junction-gt-road
271
184  -  https://www.zomato.com/jalandhar/tfc-tasty-food-court-urban-estate
366
185  -  https://www.zomato.com/jalandhar/king-kulcha-model-town
103
186  -  https://www.zomato.com/jalandhar/hungritos-cafe-grill-urban-estate
170
187  -  https://www.zomato.com/jalandhar/kingdom-of-momos-gt-road
247
188  -  https://www.zomato.com/jalandhar/combo-hut-urban-estate
504
189  -  https://www.zomato.com/jalandhar/shivraj-dhaba-model-town
2,245
190  -  https://www.zomato.com/jalandhar/pizzeria-gt-road
6,532
191  -  https://www.zomato.com/jalandhar/valaiti-desserts-by-food-bazar-shastri-nagar
395
192  -  https://www.zomato.com/jalandhar/mast-ram-pakore-wale-rama-mandi
189
193  -  https://www.zomato.com/jalandhar/sweet-truth-cake-and-desserts-shastri-nagar
178
194  -  https://www.zomato.com/jalandhar/ahuja-s-kitchen-adarsh-nagar
501
195  -  https://www.zomato.com/jalandhar/mr-hummus-model-town
246
196  -  https://www.zomato.com/jalandhar/shama-chicken-biryani-point-gt-road
70
197  -  https://www.zomato.com/jalandhar/prince-bakers-model-town
1,074
198  -  https://www.zomato.com/jalandhar/guru-ji-ki-rasoi-model-house
1,403
199  -  https://www.zomato.com/jalandhar/d7-fast-food-model-house
1,368
200  -  https://www.zomato.com/jalandhar/paratha-junction-nakodar-road
456
201  -  https://www.zomato.com/jalandhar/sanjha-chulha-model-town
1,730
202  -  https://www.zomato.com/jalandhar/the-butchers-grill-ppr-market
708
203  -  https://www.zomato.com/jalandhar/swaad-sweets-pizza-cafe-maqsudan
435
204  -  https://www.zomato.com/jalandhar/madhu-rasoi-shastri-nagar
595
205  -  https://www.zomato.com/jalandhar/head-quarters-urban-estate
5,727
206  -  https://www.zomato.com/jalandhar/barbeque-nation-model-town
447
207  -  https://www.zomato.com/jalandhar/shalimar-snacks-bar-be-que-shastri-nagar
1,418
208  -  https://www.zomato.com/jalandhar/chaa-shaa-adarsh-nagar
810
209  -  https://www.zomato.com/jalandhar/king-punjabi-chulla-maqsudan
114
210  -  https://www.zomato.com/jalandhar/barista-1-shastri-nagar
76
211  -  https://www.zomato.com/jalandhar/afc-american-fried-chicken-ppr-market
403
212  -  https://www.zomato.com/jalandhar/uttam-food-court-adarsh-nagar
5,115
213  -  https://www.zomato.com/jalandhar/dominick-world-pizza-nakodar-road
83
214  -  https://www.zomato.com/jalandhar/laddi-fast-food-adarsh-nagar
81
215  -  https://www.zomato.com/jalandhar/rahul-nutri-kulcha-1-shastri-nagar

72
216  -  https://www.zomato.com/jalandhar/brittos-urban-estate
316
217  -  https://www.zomato.com/jalandhar/bablu-chole-bhature-wala-shastri-nagar
115
218  -  https://www.zomato.com/jalandhar/udupi-dosa-shastri-nagar
242
219  -  https://www.zomato.com/jalandhar/venkataswamy-south-flavour-ppr-market
132
220  -  https://www.zomato.com/jalandhar/singh-chicken-corner-adarsh-nagar
3,495
221  -  https://www.zomato.com/jalandhar/pirates-of-grill-shastri-nagar
65
222  -  https://www.zomato.com/jalandhar/slay-coffee-shastri-nagar
47
223  -  https://www.zomato.com/jalandhar/moti-mahal-delux-urban-estate
519
224  -  https://www.zomato.com/jalandhar/yash-sweet-shop-shastri-nagar
115
225  -  https://www.zomato.com/jalandhar/bunkers-place-adarsh-nagar
695
226  -  https://www.zomato.com/jalandhar/the-kulcha-story-adarsh-nagar
2,816
227  -  https://www.zomato.com/jalandhar/sai-kulcha-corner-ppr-market
20
228  -  https://www.zomato.com/jalandhar/egg-point-nakodar-road
42
229  -  https://www.zomato.com/jalandhar/the-pizza-factory-model-town
75
230  -  https://www.zomato.com/jalandhar/makhani-fish-ppr-market
121
231  -  https://www.zomato.com/jalandhar/classic-sweets-1-shastri-nagar
191
232  -  https://www.zomato.com/jalandhar/punjabi-tadka-model-town
72
233  -  https://www.zomato.com/jalandhar/the-reefer-caf%C3%A9-eatery-model-town
823
234  -  https://www.zomato.com/jalandhar/biryani-hut-nakodar-road
40
235  -  https://www.zomato.com/jalandhar/mothers-kitchen-ppr-market
607
236  -  https://www.zomato.com/jalandhar/china-town-urban-estate
121
237  -  https://www.zomato.com/jalandhar/ram-dhan-pakore-wale-gt-road
8
238  -  https://www.zomato.com/jalandhar/joeys-pizza-model-town
194
239  -  https://www.zomato.com/jalandhar/karims-urban-estate
113
240  -  https://www.zomato.com/jalandhar/kuku-veg-bakers-maqsudan
76
241  -  https://www.zomato.com/jalandhar/power-kitchen-shastri-nagar
0
242  -  https://www.zomato.com/jalandhar/vimpis-shastri-nagar
20
243  -  https://www.zomato.com/jalandhar/r-m-tiffin-services-transport-nagar
0
244  -  https://www.zomato.com/jalandhar/nutri-kulcha-point-shastri-nagar
24
245  -  https://www.zomato.com/jalandhar/jk-dhaba-ppr-market
38
246  -  https://www.zomato.com/jalandhar/rawalpindi-express-shastri-nagar
2,691
247  -  https://www.zomato.com/jalandhar/jaggi-amritsari-kulcha-hut-shastri-nagar
73
248  -  https://www.zomato.com/jalandhar/gaurav-boney-naan-wala-shastri-nagar
9
249  -  https://www.zomato.com/jalandhar/the-berlin-cafe-model-town
12
250  -  https://www.zomato.com/jalandhar/tandoori-adda-gt-road
29
251  -  https://www.zomato.com/jalandhar/hashtag-pizza-hub-urban-estate
193
252  -  https://www.zomato.com/jalandhar/kkv-bites-3-model-town
187
253  -  https://www.zomato.com/jalandhar/giannis-shastri-nagar
730
254  -  https://www.zomato.com/jalandhar/peezzaa-spot-3-shastri-nagar
1,518
255  -  https://www.zomato.com/jalandhar/dosa-king-maqsudan
232
256  -  https://www.zomato.com/jalandhar/sharma-snacks-6-shastri-nagar
2,481
257  -  https://www.zomato.com/jalandhar/daily-dose-model-town
167
258  -  https://www.zomato.com/jalandhar/maggi-16-plus-urban-estate
120
259  -  https://www.zomato.com/jalandhar/sohans-model-town
735
260  -  https://www.zomato.com/jalandhar/chaska-dhaba-1-urban-estate
12.1K
261  -  https://www.zomato.com/jalandhar/hunger-fighters-adarsh-nagar
333
262  -  https://www.zomato.com/jalandhar/pizza-italia-wood-oven-gt-road
4,541
263  -  https://www.zomato.com/jalandhar/mumbai-food-corner-gt-road
154
264  -  https://www.zomato.com/jalandhar/dua-sweets-adarsh-nagar
82
265  -  https://www.zomato.com/jalandhar/kwality-sweets-ppr-market
1,497
266  -  https://www.zomato.com/jalandhar/makkar-bakers-confectionery-adarsh-nagar
2,674
267  -  https://www.zomato.com/jalandhar/mr-sub-adarsh-nagar
881
268  -  https://www.zomato.com/jalandhar/gianis-urban-estate
409
269  -  https://www.zomato.com/jalandhar/gethin-shape-cafe-model-town
24
270  -  https://www.zomato.com/jalandhar/yarn-urban-estate
120
271  -  https://www.zomato.com/jalandhar/chacha-tikke-wala-shastri-nagar
357
272  -  https://www.zomato.com/jalandhar/common-room-urban-estate
51
273  -  https://www.zomato.com/jalandhar/king-fast-food-maqsudan
90
274  -  https://www.zomato.com/jalandhar/cfc-chaitanya-food-court-shastri-nagar
49
275  -  https://www.zomato.com/jalandhar/inder-di-hatti-adarsh-nagar
138
276  -  https://www.zomato.com/jalandhar/tandoori-mehal-ppr-market
140
277  -  https://www.zomato.com/jalandhar/mantra-chick-n-fish-nakodar-road
1,949
278  -  https://www.zomato.com/jalandhar/caramellow-bakery-model-town
214
279  -  https://www.zomato.com/jalandhar/pahwa-refreshments-shastri-nagar
335
280  -  https://www.zomato.com/jalandhar/south-hall-dhaba-gt-road
727
281  -  https://www.zomato.com/jalandhar/chawlas-veg-non-veg-urban-estate
1,342
282  -  https://www.zomato.com/jalandhar/amritsari-kitchen-transport-nagar
53
283  -  https://www.zomato.com/jalandhar/snacks-box-amritsari-kulcha-urban-estate
27
284  -  https://www.zomato.com/jalandhar/kwality-walls-frozen-dessert-and-ice-cream-shop-5-adarsh-nagar
208
285  -  https://www.zomato.com/jalandhar/pranthas-hut-nakodar-road
23
286  -  https://www.zomato.com/jalandhar/thali-bar-shastri-nagar
31
287  -  https://www.zomato.com/jalandhar/gk-vaishnu-dhaba-gt-road
68
288  -  https://www.zomato.com/jalandhar/paras-rice-bowl-shastri-nagar
26
289  -  https://www.zomato.com/jalandhar/the-chaap-hub-shastri-nagar
94
290  -  https://www.zomato.com/jalandhar/mother-dairys-family-delight-cafe-shastri-nagar
38
291  -  https://www.zomato.com/jalandhar/al-lazeez-ppr-market
63
292  -  https://www.zomato.com/jalandhar/froyo-frozen-yogurt-treats-model-town
23
293  -  https://www.zomato.com/jalandhar/blue-heaven-lounge-adarsh-nagar
253
294  -  https://www.zomato.com/jalandhar/chatterbox-model-town
1,616
295  -  https://www.zomato.com/jalandhar/jitna-khao-utna-mangaoo-gt-road
164
296  -  https://www.zomato.com/jalandhar/sabharwal-bakers-and-food-plaza-model-house
803
297  -  https://www.zomato.com/jalandhar/avengers-food-point-model-town
147
298  -  https://www.zomato.com/jalandhar/ghai-bakers-kitchen-model-house
783
299  -  https://www.zomato.com/jalandhar/pizza-pop-model-town
223
300  -  https://www.zomato.com/jalandhar/pizzateria-adarsh-nagar
507
301  -  https://www.zomato.com/jalandhar/satkartar-nutri-kulcha-model-town
395
302  -  https://www.zomato.com/jalandhar/olive-grill-model-town
215
303  -  https://www.zomato.com/jalandhar/fnp-cakes-and-more-model-town
506
304  -  https://www.zomato.com/jalandhar/eats-n-treats-adarsh-nagar
78
305  -  https://www.zomato.com/jalandhar/soya-junction-by-anuz-rasoi-urban-estate
19
306  -  https://www.zomato.com/jalandhar/zig-zag-hungry-point-model-house
657
307  -  https://www.zomato.com/jalandhar/grill-n-shakes-model-town
46
308  -  https://www.zomato.com/jalandhar/singhs-food-maqsudan
635
309  -  https://www.zomato.com/jalandhar/bajajs-a-house-of-vegetarian-cuisine-adarsh-nagar
0
310  -  https://www.zomato.com/jalandhar/golden-temple-lassi-shakes-shastri-nagar
481
311  -  https://www.zomato.com/jalandhar/the-coffee-secrets-urban-estate
53
312  -  https://www.zomato.com/jalandhar/tandoori-hub-shastri-nagar
13
313  -  https://www.zomato.com/jalandhar/humm-bakerz-urban-estate
9
314  -  https://www.zomato.com/jalandhar/jashan-e-biryani-urban-estate
21
315  -  https://www.zomato.com/jalandhar/baanto-box-shastri-nagar
54
316  -  https://www.zomato.com/jalandhar/gracias-rama-mandi
95
317  -  https://www.zomato.com/jalandhar/ashwani-bakers-wrappers-shastri-nagar
88
318  -  https://www.zomato.com/jalandhar/sweet-art-bakers-model-town
1,003
319  -  https://www.zomato.com/jalandhar/dynamik-pizza-shastri-nagar
74
320  -  https://www.zomato.com/jalandhar/2-yummy-snacks-urban-estate
25
321  -  https://www.zomato.com/jalandhar/punjabi-dhaba-shastri-nagar
15
322  -  https://www.zomato.com/jalandhar/swad-punjab-da-model-house
170
323  -  https://www.zomato.com/jalandhar/brewbakes-1-model-town
46
324  -  https://www.zomato.com/jalandhar/punjabi-rasoi-gt-road
359
325  -  https://www.zomato.com/jalandhar/delicious-cake-hub-transport-nagar
703
326  -  https://www.zomato.com/jalandhar/ashirwad-vaishno-dhaba-adarsh-nagar

82
327  -  https://www.zomato.com/jalandhar/ajit-sweets-model-town
560
328  -  https://www.zomato.com/jalandhar/ministry-of-dreams-m-o-d-model-town
92
329  -  https://www.zomato.com/jalandhar/the-glassy-junction-shastri-nagar
411
330  -  https://www.zomato.com/jalandhar/gourmet-ice-cream-cakes-by-baskin-robbins-model-town
10
331  -  https://www.zomato.com/jalandhar/super-cremica-sweets-1-model-house
82
332  -  https://www.zomato.com/jalandhar/new-krishna-confectionery-adarsh-nagar
30
333  -  https://www.zomato.com/jalandhar/lakshmi-refreshment-shastri-nagar
567
334  -  https://www.zomato.com/jalandhar/hotel-vijay-resorts-maqsudan
351
335  -  https://www.zomato.com/jalandhar/the-regent-park-hotel-nakodar-road
351
336  -  https://www.zomato.com/jalandhar/la-tandoori-urban-estate
4,945
337  -  https://www.zomato.com/jalandhar/fitness-diet-adarsh-nagar
3
338  -  https://www.zomato.com/jalandhar/appu-fast-food-nakodar-road
66
339  -  https://www.zomato.com/jalandhar/sandwich-master-nakodar-road
21
340  -  https://www.zomato.com/jalandhar/lovely-food-corner-urban-estate
0
341  -  https://www.zomato.com/jalandhar/only-amuls-prantha-hub-adarsh-nagar
7
342  -  https://www.zomato.com/jalandhar/oberoi-barbeque-chicken-and-fish-adarsh-nagar
269
343  -  https://www.zomato.com/jalandhar/chaman-refreshment-shastri-nagar
73
344  -  https://www.zomato.com/jalandhar/hotel-president-new-court-shastri-nagar
218
345  -  https://www.zomato.com/jalandhar/firangi-bake-shastri-nagar
102
346  -  https://www.zomato.com/jalandhar/friends-burger-corner-model-house
4,066
347  -  https://www.zomato.com/jalandhar/the-live-creamery-model-town
2,065
348  -  https://www.zomato.com/jalandhar/chulle-di-roti-model-house
24
349  -  https://www.zomato.com/jalandhar/pvr-caf%C3%A9-shastri-nagar
11
350  -  https://www.zomato.com/jalandhar/come-n-bite-shastri-nagar
175
351  -  https://www.zomato.com/jalandhar/my-pizza-shastri-nagar
763
352  -  https://www.zomato.com/jalandhar/tokyo-pan-asian-restro-bar-ramada-jalandhar-shastri-nagar
41
353  -  https://www.zomato.com/jalandhar/chacha-wow-veg-non-veg-adarsh-nagar
1,287
354  -  https://www.zomato.com/jalandhar/g-m-foods-veg-non-veg-nakodar-road
154
355  -  https://www.zomato.com/jalandhar/imam-nasir-biryani-shastri-nagar
82
356  -  https://www.zomato.com/jalandhar/be-veg-and-non-veg-meals-adarsh-nagar
35
357  -  https://www.zomato.com/jalandhar/fauji-fast-food-nakodar-road
38
358  -  https://www.zomato.com/jalandhar/the-grill-box-model-town
11
359  -  https://www.zomato.com/jalandhar/jain-food-court-maqsudan
29
360  -  https://www.zomato.com/jalandhar/zaika-ka-tadka-model-house
4
361  -  https://www.zomato.com/jalandhar/virasat-punjabi-dhaba-transport-nagar
3
362  -  https://www.zomato.com/jalandhar/pitstop-the-american-diner-model-town
0
363  -  https://www.zomato.com/jalandhar/moms-kitchen-1-adarsh-nagar
14
364  -  https://www.zomato.com/jalandhar/ekam-vaishno-dhaba-rama-mandi
431
365  -  https://www.zomato.com/jalandhar/king-cuisine-car-maqsudan
833
366  -  https://www.zomato.com/jalandhar/food-street-70-urban-estate
19
367  -  https://www.zomato.com/jalandhar/shaolin-by-vimpis-shastri-nagar
0
368  -  https://www.zomato.com/jalandhar/delicious-kitchen-transport-nagar
18
369  -  https://www.zomato.com/jalandhar/house-of-candy-shastri-nagar
32
370  -  https://www.zomato.com/jalandhar/delicious-fast-food-1-transport-nagar
325
371  -  https://www.zomato.com/jalandhar/chicago-pizza-rama-mandi
56
372  -  https://www.zomato.com/jalandhar/hotel-president-shastri-nagar
107
373  -  https://www.zomato.com/jalandhar/tasty-bites-maqsudan
17
374  -  https://www.zomato.com/jalandhar/satvik-food-lovers-urban-estate
0
375  -  https://www.zomato.com/jalandhar/chatkara-punjabian-da-maqsudan
2
376  -  https://www.zomato.com/jalandhar/freshco-plus-1-ppr-market
49
377  -  https://www.zomato.com/jalandhar/bhen-pra-di-rasoi-urban-estate
0
378  -  https://www.zomato.com/jalandhar/luckys-fast-food-maqsudan
9
379  -  https://www.zomato.com/jalandhar/prantha-corner-nakodar-road
4
380  -  https://www.zomato.com/jalandhar/chilled-green-adarsh-nagar
0
381  -  https://www.zomato.com/jalandhar/vikas-nutri-kulcha-shastri-nagar
6
382  -  https://www.zomato.com/jalandhar/mama-cito-model-town
4
383  -  https://www.zomato.com/jalandhar/hotel-skylark-restaurant-shastri-nagar
27
384  -  https://www.zomato.com/jalandhar/snooker-junction-restaurant-model-town
246
385  -  https://www.zomato.com/jalandhar/floweraura-model-town
17
386  -  https://www.zomato.com/jalandhar/chick-chick-villa-maqsudan
81
387  -  https://www.zomato.com/jalandhar/hotel-imperia-suites-ppr-market
109
388  -  https://www.zomato.com/jalandhar/fcm-express-1-shastri-nagar
8
389  -  https://www.zomato.com/jalandhar/swami-juice-corner-shastri-nagar
1,114
390  -  https://www.zomato.com/jalandhar/khalsa-dhaba-urban-estate
16
391  -  https://www.zomato.com/jalandhar/king-burg-adarsh-nagar
17
392  -  https://www.zomato.com/jalandhar/tiffin-and-bowls-shastri-nagar
41
393  -  https://www.zomato.com/jalandhar/desi-meals-box-4u-urban-estate
9
394  -  https://www.zomato.com/jalandhar/sonakshi-veg-foods-adarsh-nagar
11
395  -  https://www.zomato.com/jalandhar/aggarwal-cheese-corner-gt-road
7
396  -  https://www.zomato.com/jalandhar/tru-bites-adarsh-nagar
11
397  -  https://www.zomato.com/jalandhar/murari-food-corner-maqsudan
0
398  -  https://www.zomato.com/jalandhar/7-slices-model-town
3
399  -  https://www.zomato.com/jalandhar/vinay-bakery-adarsh-nagar
5
400  -  https://www.zomato.com/jalandhar/singh-nutri-kulcha-nakodar-road
39
401  -  https://www.zomato.com/jalandhar/ravi-ice-cream-juice-corner-adarsh-nagar
388
402  -  https://www.zomato.com/jalandhar/amul-ice-cream-parlour-urban-estate
408
403  -  https://www.zomato.com/jalandhar/de-nuevo-model-town
69
404  -  https://www.zomato.com/jalandhar/virasat-haveli-shastri-nagar
3,670
405  -  https://www.zomato.com/jalandhar/the-flavors-agi-inn-shastri-nagar
84
406  -  https://www.zomato.com/jalandhar/tandoori-flames-model-town
3,807
407  -  https://www.zomato.com/jalandhar/dev-raj-sohal-sweets-shop-adarsh-nagar
5
408  -  https://www.zomato.com/jalandhar/lahori-gate-rama-mandi
38
409  -  https://www.zomato.com/jalandhar/st-louis-pizza-model-town
9
410  -  https://www.zomato.com/jalandhar/seven-in-heaven-shastri-nagar
23
411  -  https://www.zomato.com/jalandhar/the-dinning-room-model-town
2
412  -  https://www.zomato.com/jalandhar/saini-fast-food-gt-road
1
413  -  https://www.zomato.com/jalandhar/boti-roti-urban-estate
5
414  -  https://www.zomato.com/jalandhar/moms-magic-food-point-model-house
4
415  -  https://www.zomato.com/jalandhar/chef-point-urban-estate
8
416  -  https://www.zomato.com/jalandhar/shere-e-punjabi-model-house
42
417  -  https://www.zomato.com/jalandhar/swaad-tandoori-1-urban-estate
26
418  -  https://www.zomato.com/jalandhar/roll-and-rolls-shastri-nagar
3
419  -  https://www.zomato.com/jalandhar/birthday-point-gt-road
32
420  -  https://www.zomato.com/jalandhar/meals@40-adarsh-nagar
32
421  -  https://www.zomato.com/jalandhar/wood-fired-pizza-by-courtyard-lounge-urban-estate
45
422  -  https://www.zomato.com/jalandhar/oberoi-non-veg-kitchen-adarsh-nagar
42
423  -  https://www.zomato.com/jalandhar/guru-kirpa-chaap-house-gt-road
3
424  -  https://www.zomato.com/jalandhar/the-shake-hut-model-house
7
425  -  https://www.zomato.com/jalandhar/nanda-kitchen-urban-estate
1
426  -  https://www.zomato.com/jalandhar/sardarji-di-chaap-ppr-market
0
427  -  https://www.zomato.com/jalandhar/canvaca-cake-cafe-adarsh-nagar
9
428  -  https://www.zomato.com/jalandhar/moms-prantha-house-adarsh-nagar
10
429  -  https://www.zomato.com/jalandhar/jalebi-wala-2-shastri-nagar
9
430  -  https://www.zomato.com/jalandhar/spicy-dragon-urban-estate
2
431  -  https://www.zomato.com/jalandhar/yummy-hub-model-house
0
432  -  https://www.zomato.com/jalandhar/royal-rolls-urban-estate
1
433  -  https://www.zomato.com/jalandhar/quick-eats-urban-estate
11
434  -  https://www.zomato.com/jalandhar/singh-saab-food-station-shastri-nagar
0
435  -  https://www.zomato.com/jalandhar/monster-chicken-ppr-market
9
436  -  https://www.zomato.com/jalandhar/chinese-wok-king-shastri-nagar
5
437  -  https://www.zomato.com/jalandhar/mehak-vegetarian-pure-veg-dhaba-nakodar-road

24
438  -  https://www.zomato.com/jalandhar/gulshah-hotel-gt-road
7
439  -  https://www.zomato.com/jalandhar/sonu-fast-food-gt-road
12
440  -  https://www.zomato.com/jalandhar/chocolates-4-you-model-house
0
441  -  https://www.zomato.com/jalandhar/eat-n-repeat-ppr-market
12
442  -  https://www.zomato.com/jalandhar/dine-fine-model-town
0
443  -  https://www.zomato.com/jalandhar/hotel-rajmahal-restuarant-shastri-nagar
161
444  -  https://www.zomato.com/jalandhar/rajat-kachori-house-adarsh-nagar
319
445  -  https://www.zomato.com/jalandhar/ghai-biscuits-1-model-town
82
446  -  https://www.zomato.com/jalandhar/mid-point-shastri-nagar
32
447  -  https://www.zomato.com/jalandhar/republic-food-nation-gt-road
23
448  -  https://www.zomato.com/jalandhar/mix-n-match-the-maya-hotel-1-shastri-nagar
5
449  -  https://www.zomato.com/jalandhar/cool-point-ppr-market
154
450  -  https://www.zomato.com/jalandhar/george-the-irish-pub-co-model-town
30
451  -  https://www.zomato.com/jalandhar/fresh-and-healthy-juice-shop-shastri-nagar
3
452  -  https://www.zomato.com/jalandhar/de-cafe-urban-estate
54
453  -  https://www.zomato.com/jalandhar/delicious-chicken-nakodar-road
2
454  -  https://www.zomato.com/jalandhar/m54-adarsh-nagar
7
455  -  https://www.zomato.com/jalandhar/italian-spice-shastri-nagar
0
456  -  https://www.zomato.com/jalandhar/egg-express-nakodar-road
1
457  -  https://www.zomato.com/jalandhar/shine-bake-house-nakodar-road
3
458  -  https://www.zomato.com/jalandhar/chicken-chef-nakodar-road
3
459  -  https://www.zomato.com/jalandhar/yuvraj-juice-bar-shastri-nagar
9
460  -  https://www.zomato.com/jalandhar/vrindavan-foods-model-house
49
461  -  https://www.zomato.com/jalandhar/punjab-food-plaza-3-shastri-nagar
24
462  -  https://www.zomato.com/jalandhar/vip-kitchen-urban-estate
17
463  -  https://www.zomato.com/jalandhar/burg-junction-nakodar-road
24
464  -  https://www.zomato.com/jalandhar/roll-n-roll-wraps-shastri-nagar
1
465  -  https://www.zomato.com/jalandhar/the-harshays-cafe-1-adarsh-nagar
7
466  -  https://www.zomato.com/jalandhar/jassi-chicken-corner-shastri-nagar
2
467  -  https://www.zomato.com/jalandhar/pizza-tower-ppr-market
35
468  -  https://www.zomato.com/jalandhar/sanjha-pizza-gt-road
8
469  -  https://www.zomato.com/jalandhar/friends-food-corner-gt-road
31
470  -  https://www.zomato.com/jalandhar/hotel-r1-inn-adarsh-nagar
7
471  -  https://www.zomato.com/jalandhar/kuch-hat-ke-adarsh-nagar
11
472  -  https://www.zomato.com/jalandhar/wrap-it-up-urban-estate
24
473  -  https://www.zomato.com/jalandhar/tim-tim-fast-food-model-house
1
474  -  https://www.zomato.com/jalandhar/arora-fast-food-and-snacks-1-adarsh-nagar
6
475  -  https://www.zomato.com/jalandhar/royal-treat-kitchen-urban-estate
8
476  -  https://www.zomato.com/jalandhar/chinese-dil-se-urban-estate
8
477  -  https://www.zomato.com/jalandhar/cake-zone-ppr-market
0
478  -  https://www.zomato.com/jalandhar/desi-adda-5-model-town
0
479  -  https://www.zomato.com/jalandhar/singh-fast-food-maqsudan
1
480  -  https://www.zomato.com/jalandhar/yuvraj-fast-food-shastri-nagar
0
481  -  https://www.zomato.com/jalandhar/softizza-shastri-nagar
0
482  -  https://www.zomato.com/jalandhar/eastern-biryani-model-town
1
483  -  https://www.zomato.com/jalandhar/finger-licks-adarsh-nagar
7
484  -  https://www.zomato.com/jalandhar/prashar-refreshment-shastri-nagar
1
485  -  https://www.zomato.com/jalandhar/brothers-grill-1-shastri-nagar
10
486  -  https://www.zomato.com/jalandhar/shamma-caters-adarsh-nagar
1
487  -  https://www.zomato.com/jalandhar/sharma-paratha-junction-shastri-nagar
1
488  -  https://www.zomato.com/jalandhar/khana-khazana-by-sonakshi-adarsh-nagar
0
489  -  https://www.zomato.com/jalandhar/kukad-hut-maqsudan
0
490  -  https://www.zomato.com/jalandhar/food-snacks-maqsudan
0
491  -  https://www.zomato.com/jalandhar/paranthe-wali-gali-ppr-market
0
492  -  https://www.zomato.com/jalandhar/foodyard-cafe-model-town
0
493  -  https://www.zomato.com/jalandhar/flavourochs-1-ppr-market
1
494  -  https://www.zomato.com/jalandhar/the-permit-house-model-town
7
495  -  https://www.zomato.com/jalandhar/mandeep-dairy-ppr-market
0
496  -  https://www.zomato.com/jalandhar/pizza-town-nakodar-road
8
497  -  https://www.zomato.com/jalandhar/kukkad-junction-adarsh-nagar
0
498  -  https://www.zomato.com/jalandhar/ozi-jacks-ppr-market
0
499  -  https://www.zomato.com/jalandhar/royal-king-chicken-hut-gt-road
0
500  -  https://www.zomato.com/jalandhar/tank-the-micro-juicery-urban-estate
0
501  -  https://www.zomato.com/jalandhar/mp-dhaba-shastri-nagar
0
502  -  https://www.zomato.com/jalandhar/sharma-food-court-shastri-nagar
0
503  -  https://www.zomato.com/jalandhar/hfc-chaap-corner-adarsh-nagar
0
504  -  https://www.zomato.com/jalandhar/the-hot-chinese-gt-road
3
505  -  https://www.zomato.com/jalandhar/bhatura-junction-jalandhar-cantt
0
506  -  https://www.zomato.com/jalandhar/arora-bakery-adarsh-nagar
2
507  -  https://www.zomato.com/jalandhar/a-makhan-fish-chicken-amritsari-wale-model-town
0
508  -  https://www.zomato.com/jalandhar/jlebi-corner-shastri-nagar
0
509  -  https://www.zomato.com/jalandhar/abdul-moradabadi-chicken-corner-urban-estate
0
510  -  https://www.zomato.com/jalandhar/buntys-veg-non-veg-adarsh-nagar
0
511  -  https://www.zomato.com/jalandhar/anand-sagar-south-indian-gt-road
0
512  -  https://www.zomato.com/jalandhar/cakes-n-cream-ppr-market
0
513  -  https://www.zomato.com/jalandhar/paratha-junction-1-nakodar-road
0
514  -  https://www.zomato.com/jalandhar/rolls-e-lajawaab-ppr-market
2
515  -  https://www.zomato.com/jalandhar/big-boy-burger-corner-model-town
0
516  -  https://www.zomato.com/jalandhar/thand-rakh-model-town
0
517  -  https://www.zomato.com/jalandhar/yadav-south-indian-model-house
0
518  -  https://www.zomato.com/jalandhar/mr-idli-ppr-market
0
519  -  https://www.zomato.com/jalandhar/eggetarian-hub-shastri-nagar
0
520  -  https://www.zomato.com/jalandhar/raabta-adarsh-nagar
0
521  -  https://www.zomato.com/jalandhar/desi-tadka-1-model-town
0
522  -  https://www.zomato.com/jalandhar/quick-delight-tasty-bites-model-house
60
523  -  https://www.zomato.com/jalandhar/desi-dhaba-37-urban-estate
15
524  -  https://www.zomato.com/jalandhar/hot-and-fresh-adarsh-nagar
30
525  -  https://www.zomato.com/jalandhar/diljaan-food-junction-1-nakodar-road
0
526  -  https://www.zomato.com/jalandhar/shama-dhaba-alzaika-chicken-corner-adarsh-nagar
0
527  -  https://www.zomato.com/jalandhar/annapurna-the-tasty-blessings-adarsh-nagar
10
528  -  https://www.zomato.com/jalandhar/momos-dim-sim-house-gt-road
5
529  -  https://www.zomato.com/jalandhar/hotel-m1-shastri-nagar
2
530  -  https://www.zomato.com/jalandhar/daddys-cafe-pub-model-town
0
531  -  https://www.zomato.com/jalandhar/rainbow-rasoi-shastri-nagar
0
532  -  https://www.zomato.com/jalandhar/amit-vaishno-dhaba-adarsh-nagar
649
533  -  https://www.zomato.com/jalandhar/mr-singh-burger-adarsh-nagar
70
534  -  https://www.zomato.com/jalandhar/hotel-kings-bar-and-restaurant-shastri-nagar
21
535  -  https://www.zomato.com/jalandhar/kwality-snacks-beverages-nakodar-road
10
536  -  https://www.zomato.com/jalandhar/breaking-bread-urban-estate
15
537  -  https://www.zomato.com/jalandhar/play-town-cafe-the-fun-factory-urban-estate
53
538  -  https://www.zomato.com/jalandhar/hotel-sarovar-portico-shastri-nagar
18
539  -  https://www.zomato.com/jalandhar/hotel-maharaja-residency-shastri-nagar
228
540  -  https://www.zomato.com/jalandhar/daman-food-corner-maqsudan
19
541  -  https://www.zomato.com/jalandhar/laatsaab-rolls-kababs-1-adarsh-nagar
26
542  -  https://www.zomato.com/jalandhar/vev-z-food-model-town
12
543  -  https://www.zomato.com/jalandhar/friends-dhaba-adarsh-nagar
20
544  -  https://www.zomato.com/jalandhar/cafe-ginger-model-town
608
545  -  https://www.zomato.com/jalandhar/the-lazy-monkey-model-town
71
546  -  https://www.zomato.com/jalandhar/gcf-the-chaap-hub-2-shastri-nagar
11.3K
547  -  https://www.zomato.com/jalandhar/the-shawarma-club-ppr-market
177
548  -  https://www.zomato.com/jalandhar/hot-drive-model-town
13.9K
549  -  https://www.zomato.com/jalandhar/sai-puri-wale-shastri-nagar
2,836
550  -  https://www.zomato.com/jalandhar/kwality-chat-corner-shastri-nagar

219
551  -  https://www.zomato.com/jalandhar/dhanne-di-hatti-shastri-nagar
1,343
552  -  https://www.zomato.com/jalandhar/cfc-chicken-fried-corner-urban-estate
7,181
553  -  https://www.zomato.com/jalandhar/dumpling-hood-2-model-town
836
554  -  https://www.zomato.com/jalandhar/everest-momos-model-town
384
555  -  https://www.zomato.com/jalandhar/fresh-avenue-shastri-nagar
529
556  -  https://www.zomato.com/jalandhar/khalsa-ji-fast-food-corner-model-house
788
557  -  https://www.zomato.com/jalandhar/krrish-food-plaza-adarsh-nagar
2,111
558  -  https://www.zomato.com/jalandhar/amritsari-roasted-chicken-ppr-market
124
559  -  https://www.zomato.com/jalandhar/royal-king-hungry-hut-shastri-nagar
43
560  -  https://www.zomato.com/jalandhar/la-masala-ppr-market
27
561  -  https://www.zomato.com/jalandhar/urban-dhaba-urban-estate
12.6K
562  -  https://www.zomato.com/jalandhar/shama-chicken-corner-rama-mandi
10
563  -  https://www.zomato.com/jalandhar/kwality-walls-frozen-dessert-and-ice-cream-shop-1-rama-mandi
104
564  -  https://www.zomato.com/jalandhar/kitchen-24-shastri-nagar
28
565  -  https://www.zomato.com/jalandhar/the-chocolate-room-model-town
503
566  -  https://www.zomato.com/jalandhar/blue-lion-khalsa-burger-shastri-nagar
136
567  -  https://www.zomato.com/jalandhar/amarnath-kachori-wale-adarsh-nagar
40
568  -  https://www.zomato.com/jalandhar/bhalla-mid-point-gt-road
23
569  -  https://www.zomato.com/jalandhar/pb-02-kulcha-king-by-h-s-enterprises-nakodar-road
22
570  -  https://www.zomato.com/jalandhar/kwality-chick-chick-adarsh-nagar
9,445
571  -  https://www.zomato.com/jalandhar/american-bites-nakodar-road
28
572  -  https://www.zomato.com/jalandhar/pb-08-chaap-tandoori-nakodar-road
18
573  -  https://www.zomato.com/jalandhar/hot-drive-jyoti-chowk-shastri-nagar
88
574  -  https://www.zomato.com/jalandhar/dreamland-confectionery-adarsh-nagar
20
575  -  https://www.zomato.com/jalandhar/new-hungry-tummy-1-shastri-nagar
1,264
576  -  https://www.zomato.com/jalandhar/guru-kirpa-veg-champ-snacks-corner-shastri-nagar
283
577  -  https://www.zomato.com/jalandhar/mr-orange-1-urban-estate
2
578  -  https://www.zomato.com/jalandhar/mr-fast-food-wale-adarsh-nagar
3
579  -  https://www.zomato.com/jalandhar/chawla-bakers-shastri-nagar
5
580  -  https://www.zomato.com/jalandhar/rozzi-roti-urban-estate
18
581  -  https://www.zomato.com/jalandhar/delhi-cafe-heights-urban-estate
96
582  -  https://www.zomato.com/jalandhar/oye-foodz-urban-estate
48
583  -  https://www.zomato.com/jalandhar/deep-shake-bake-shastri-nagar
0
584  -  https://www.zomato.com/jalandhar/fast-food-mania-2-shastri-nagar
0
585  -  https://www.zomato.com/jalandhar/kadhi-patta-ppr-market
94
586  -  https://www.zomato.com/jalandhar/vishnu-special-amritsari-naan-shastri-nagar
2
587  -  https://www.zomato.com/jalandhar/comfort-inn-shastri-nagar
435
588  -  https://www.zomato.com/jalandhar/uttrakhand-spl-adarsh-nagar
16
589  -  https://www.zomato.com/jalandhar/nutri-junction-jalandhar-cantt
14
590  -  https://www.zomato.com/jalandhar/sk-chaap-hub-adarsh-nagar
116
591  -  https://www.zomato.com/jalandhar/food-land-1-rama-mandi
0
592  -  https://www.zomato.com/jalandhar/dosa-hut-urban-estate
25
593  -  https://www.zomato.com/jalandhar/trimurti-pav-bhaji-shastri-nagar
14
594  -  https://www.zomato.com/jalandhar/pb90-pizza-model-house
0
595  -  https://www.zomato.com/jalandhar/snackswind-adarsh-nagar
4
596  -  https://www.zomato.com/jalandhar/the-italian-house-model-town
2
597  -  https://www.zomato.com/jalandhar/american-chicken-burger-urban-estate
19
598  -  https://www.zomato.com/jalandhar/forever-foodie-ppr-market
4
599  -  https://www.zomato.com/jalandhar/kamal-chaap-house-jalandhar-cantt
13
600  -  https://www.zomato.com/jalandhar/the-backbenchers-urban-estate
7
601  -  https://www.zomato.com/jalandhar/ufo-fries-corn-model-town
86
602  -  https://www.zomato.com/jalandhar/tandoori-palace-urban-estate
1
603  -  https://www.zomato.com/jalandhar/the-champ-junction-adarsh-nagar
22
604  -  https://www.zomato.com/jalandhar/emmanuel-super-juice-corner-jalandhar-cantt
9
605  -  https://www.zomato.com/jalandhar/veggies-on-fire-model-town
0
606  -  https://www.zomato.com/jalandhar/baba-express-model-town
0
607  -  https://www.zomato.com/jalandhar/ganpati-food-point-1-nakodar-road
8
608  -  https://www.zomato.com/jalandhar/punjabi-flavours-model-town
0
609  -  https://www.zomato.com/jalandhar/arjun-fast-food-adarsh-nagar
2
610  -  https://www.zomato.com/jalandhar/sfc-the-chaap-hub-ppr-market
24
611  -  https://www.zomato.com/jalandhar/kubir-fast-food-model-town
5
612  -  https://www.zomato.com/jalandhar/ontario-pizza-1-model-town
1
613  -  https://www.zomato.com/jalandhar/hungrill-food-court-gt-road
5
614  -  https://www.zomato.com/jalandhar/shawarma-nation-ppr-market
12
615  -  https://www.zomato.com/jalandhar/gori-chicken-fish-corner-model-house
5
616  -  https://www.zomato.com/jalandhar/dawat-e-haveli-ppr-market
3
617  -  https://www.zomato.com/jalandhar/sethis-snacks-corner-ppr-market
59
618  -  https://www.zomato.com/jalandhar/sharma-vaishno-dhaba-shastri-nagar
0
619  -  https://www.zomato.com/jalandhar/arjun-chaap-adarsh-nagar
0
620  -  https://www.zomato.com/jalandhar/yummy-parantha-and-snacks-maqsudan
4
621  -  https://www.zomato.com/jalandhar/yuvraj-champ-burger-hub-shastri-nagar
15
622  -  https://www.zomato.com/jalandhar/foodies-point-1-jalandhar-cantt
1
623  -  https://www.zomato.com/jalandhar/panj-tara-veg-non-veg-gt-road
1
624  -  https://www.zomato.com/jalandhar/hanjii-adarsh-nagar
39
625  -  https://www.zomato.com/jalandhar/mojos-restaurant-nakodar-road
75
626  -  https://www.zomato.com/jalandhar/platform-13-4-model-town
138
627  -  https://www.zomato.com/jalandhar/hotz-drive-ppr-ppr-market
10.7K
628  -  https://www.zomato.com/jalandhar/sk-chicken-fish-adarsh-nagar
6,547
629  -  https://www.zomato.com/jalandhar/punjabi-chaskaa-ppr-market
1,203
630  -  https://www.zomato.com/jalandhar/burger-house-shastri-nagar
1,015
631  -  https://www.zomato.com/jalandhar/eat-fresh-burger-roots-adarsh-nagar
367
632  -  https://www.zomato.com/jalandhar/bunty-lajawab-burger-corner-adarsh-nagar
256
633  -  https://www.zomato.com/jalandhar/mr-burger-adarsh-nagar
2
634  -  https://www.zomato.com/jalandhar/jasco-supermarket-rama-mandi
0
635  -  https://www.zomato.com/jalandhar/mozito-shastri-nagar
36
636  -  https://www.zomato.com/jalandhar/spaghetti-club-shastri-nagar
668
637  -  https://www.zomato.com/jalandhar/red-petal-1-adarsh-nagar
370
638  -  https://www.zomato.com/jalandhar/m-prabhu-chaap-corner-adarsh-nagar
264
639  -  https://www.zomato.com/jalandhar/adarsh-king-chaupati-adarsh-nagar
549
640  -  https://www.zomato.com/jalandhar/arora-food-court-shastri-nagar
20
641  -  https://www.zomato.com/jalandhar/fish-corner-dhaba-shastri-nagar
388
642  -  https://www.zomato.com/jalandhar/veggie-chaap-shastri-nagar
97
643  -  https://www.zomato.com/jalandhar/bombay-chaupati-model-town
175
644  -  https://www.zomato.com/jalandhar/sehgal-fast-food-shastri-nagar
321

In [ ]:
# jal["reviews"].dtype

In [ ]:
# cnt=240
# url=s[241]
# print(cnt," - ",url)
# cnt+=1
# response = requests.get(url, headers=headers)
# soup = BeautifulSoup(response.content, 'html.parser')
# print(reviews[cnt])
# if reviews[cnt]=='New':
#     lst2.append("0")
#     print("0")
# elif reviews[cnt]!="New":
#     a = soup.find('section',{'class':'sc-cqCuEk'}).get_text().split('fill')[2].split(' ')[0]
#     lst2.append(a)
#     print(a)

In [ ]:
jal.iloc[485]

In [ ]:
len(lst2)

In [ ]:
lst2[496]

In [ ]:
# cnt=497
# reviews = jal["reviews"]
# s2 = s[497:]

# for i in s2:
#     url=i
#     print(cnt," - ",url)
#     response = requests.get(url, headers=headers)
#     soup = BeautifulSoup(response.content, 'html.parser')
#     if reviews[cnt]!="New":
#         a = soup.find('section',{'class':'sc-cqCuEk'}).get_text().split('fill')[2].split(' ')[0]
#         lst2.append(a)
#         print(a)
#     else:
#         lst2.append("0")
#         print("0")
#     cnt+=1

In [ ]:
s[520]

In [ ]:
len(lst2)

In [ ]:
lst3 = lst2[0:496]
len(lst3)

In [ ]:
lst2[520]

In [164]:
jal["location"] = lst
jal["no. of reviews"] = lst2
jal.head()

,name,price,cuisine,reviews,Location url,location,no. of reviews
0,Biryani By Kilo,?400 for one,"Biryani, Mughlai, Kebab, Hyderabadi",4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
1,Food Bazar,?400 for one,"South Indian, Chinese, North Indian, Fast Food...",4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K
2,Behrouz Biryani,?400 for one,"Biryani, Kebab, Mughlai",4.3,https://www.zomato.com/jalandhar/behrouz-birya...,Shastri Nagar,900
3,Lovely Bake Studio,?400 for one,"Bakery, Chinese, Fast Food, Beverages",4.3,https://www.zomato.com/jalandhar/lovely-bake-s...,Nakodar Road,"9,438"
4,Chick Chick PPR,?400 for one,"North Indian, Mughlai, Chinese, Seafood",3.9,https://www.zomato.com/jalandhar/chick-chick-p...,PPR Market,20.2K

In [165]:
jal["cuisine"].value_counts()

North Indian                                                      81
Street Food                                                       22
North Indian, Chinese                                             17
Fast Food                                                         13
North Indian, Fast Food                                           11
                                                                  ..
North Indian, Rolls, Chinese, Beverages                            1
North Indian, Fast Food, Rolls                                     1
Healthy Food, Fast Food, North Indian, Beverages, Salad, Shake     1
North Indian, Chinese, Mughlai, Continental, Beverages             1
Fast Food, Rolls, Wraps                                            1
Name: cuisine, Length: 365, dtype: int64

In [166]:
jal.sample(20)

,name,price,cuisine,reviews,Location url,location,no. of reviews
368,Delicious Kitchen,?100 for one,North Indian,3.3,https://www.zomato.com/jalandhar/delicious-kit...,Transport Nagar,18
501,MP Dhaba,?100 for one,North Indian,-,https://www.zomato.com/jalandhar/mp-dhaba-shas...,Shastri Nagar,0
176,Sandy Sandwich Corner,?150 for one,"Sandwich, Fast Food, Pizza, Ice Cream, Dessert...",4,https://www.zomato.com/jalandhar/sandy-sandwic...,Shastri Nagar,995
56,Bittu Pardesi,?200 for one,"Street Food, South Indian, Desserts",4.2,https://www.zomato.com/jalandhar/bittu-pardesi...,Model Town,22.8K
93,Super Cremica Fast Food & Restaurant,?200 for one,"North Indian, South Indian, Chinese, Fast Food...",4.3,https://www.zomato.com/jalandhar/super-cremica...,Shastri Nagar,"2,297"
456,Egg Express,?250 for one,Street Food,-,https://www.zomato.com/jalandhar/egg-express-n...,Nakodar Road,1
528,Momos Dim Sim House,?350 for one,"Fast Food, Momos",-,https://www.zomato.com/jalandhar/momos-dim-sim...,GT Road,5
395,Aggarwal Cheese Corner,?150 for one,"Fast Food, Street Food",-,https://www.zomato.com/jalandhar/aggarwal-chee...,GT Road,7
524,Hot And Fresh,?350 for one,"Fast Food, Beverages, Salad, Healthy Food, Bur...",3.4,https://www.zomato.com/jalandhar/hot-and-fresh...,Adarsh Nagar,30
434,Singh Saab Food Station,?50 for one,"Burger, Pizza, Fast Food, Chinese, North India...",New,https://www.zomato.com/jalandhar/singh-saab-fo...,Shastri Nagar,0
383,Hotel Skylark & Restaurant,?350 for one,"North Indian, Chinese, Mughlai, Continental, B...",3.6,https://www.zomato.com/jalandhar/hotel-skylark...,Shastri Nagar,27
308,Singh's Food,?100 for one,"North Indian, Fast Food",3.4,https://www.zomato.com/jalandhar/singhs-food-m...,Maqsudan,635
323,Brewbakes,?50 for one,"Beverages, Continental, Fast Food, Pizza, Burg...",3.2,https://www.zomato.com/jalandhar/brewbakes-1-m...,Model Town,46
441,Eat N Repeat,?250 for one,"North Indian, Biryani, Chinese, Fast Food, Shake",-,https://www.zomato.com/jalandhar/eat-n-repeat-...,PPR Market,12
113,Friendzz Chick Chick,?200 for one,"North Indian, Mughlai, Chinese, Seafood",3.8,https://www.zomato.com/jalandhar/friendzz-chic...,Nakodar Road,"8,282"
472,Wrap It Up,?100 for one,"Mexican, Fast Food, Beverages",2.7,https://www.zomato.com/jalandhar/wrap-it-up-ur...,Urban Estate,24
521,Desi Tadka,?200 for one,"North Indian, Kebab, Chinese, Fast Food, Mughlai",-,https://www.zomato.com/jalandhar/desi-tadka-1-...,Model Town,0
131,The Ghanshyam Amritsar Mithaiwale,?100 for one,"Mithai, Street Food",4.2,https://www.zomato.com/jalandhar/the-ghanshyam...,Shastri Nagar,530
637,Red Petal,?100 for one,"North Indian, Chinese, Mughlai, Kebab, Beverages",4,https://www.zomato.com/jalandhar/red-petal-1-a...,Adarsh Nagar,370
345,Firangi Bake,?250 for one,"Italian, Mexican, Fast Food",3.9,https://www.zomato.com/jalandhar/firangi-bake-...,Shastri Nagar,102

In [35]:
jal.to_excel("ashu_zomato_jalandhar.xlsx")

In [167]:
a = jal

In [168]:
a = a.assign(cuisine = a['cuisine'].str.split(',')).explode('cuisine')

In [169]:
a

,name,price,cuisine,reviews,Location url,location,no. of reviews
0,Biryani By Kilo,?400 for one,Biryani,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Mughlai,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Kebab,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Hyderabadi,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
1,Food Bazar,?400 for one,South Indian,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K
...,...,...,...,...,...,...,...
642,Veggie Chaap,?150 for one,North Indian,4.1,https://www.zomato.com/jalandhar/veggie-chaap-...,Shastri Nagar,97
643,Bombay Chaupati,NaN,Street Food,3.9,https://www.zomato.com/jalandhar/bombay-chaupa...,Model Town,175
643,Bombay Chaupati,NaN,Fast Food,3.9,https://www.zomato.com/jalandhar/bombay-chaupa...,Model Town,175
644,Sehgal Fast Food,?150 for one,Burger,4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...,Shastri Nagar,321
644,Sehgal Fast Food,?150 for one,Chinese,4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...,Shastri Nagar,321

In [170]:
a["cuisine"].value_counts()

North Indian        253
 Fast Food          222
 Beverages          181
 Chinese            170
Fast Food            91
                   ...
American              1
 Panini               1
 Waffle               1
Charcoal Chicken      1
 Arabian              1
Name: cuisine, Length: 77, dtype: int64

In [171]:
a.isnull().sum()

name              0
price             2
cuisine           0
reviews           0
Location url      0
location          0
no. of reviews    0
dtype: int64

In [58]:
jal = a
jal.to_csv("jalandhar_zomato.csv")

In [162]:
a["location"].value_counts()
a

     price  cuisine reviews  location no. of reviews
0    400.0       50     4.1        11           3083
0    400.0       27     4.1        11           3083
0    400.0       22     4.1        11           3083
0    400.0       17     4.1        11           3083
1    400.0       74     4.3         9           40.5
..     ...      ...     ...       ...            ...
642  150.0       28     4.1         9             97
643    NaN       75     3.9         5            175
643    NaN       14     3.9         5            175
644  150.0       51     4.4         9            321
644  150.0        9     4.4         9            321

[1977 rows x 5 columns]

In [174]:
temp = a
temp.head(10)

,name,price,cuisine,reviews,Location url,location,no. of reviews
0,Biryani By Kilo,?400 for one,Biryani,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Mughlai,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Kebab,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Hyderabadi,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
1,Food Bazar,?400 for one,South Indian,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K
1,Food Bazar,?400 for one,Chinese,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K
1,Food Bazar,?400 for one,North Indian,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K
1,Food Bazar,?400 for one,Fast Food,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K
1,Food Bazar,?400 for one,Street Food,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K
1,Food Bazar,?400 for one,Beverages,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K

In [175]:
temp.drop(columns=["name","Location url"],inplace=True)

In [176]:
def fun(x):
    x = x.replace("?","")
    x =x.replace(" for one","")
    return x
temp["price"] = temp["price"].astype(str)
temp["price"] = temp["price"].apply(fun)
temp["price"] = temp["price"].astype(float)
temp.head()

   price       cuisine reviews       location no. of reviews
0  400.0       Biryani     4.1   Urban Estate          3,083
0  400.0       Mughlai     4.1   Urban Estate          3,083
0  400.0         Kebab     4.1   Urban Estate          3,083
0  400.0    Hyderabadi     4.1   Urban Estate          3,083
1  400.0  South Indian     4.3  Shastri Nagar          40.5K

In [177]:
temp["no. of reviews"] =temp["no. of reviews"].astype(str) 
def fun2(x):
    x = x.replace(",","")
    return x
temp["no. of reviews"] =temp["no. of reviews"].apply(fun2)
temp.head()

   price       cuisine reviews       location no. of reviews
0  400.0       Biryani     4.1   Urban Estate           3083
0  400.0       Mughlai     4.1   Urban Estate           3083
0  400.0         Kebab     4.1   Urban Estate           3083
0  400.0    Hyderabadi     4.1   Urban Estate           3083
1  400.0  South Indian     4.3  Shastri Nagar          40.5K

In [181]:
def fun3(x):
    if 'K' in x:
        x = x.replace("K","")
        x = x.split(".")[0]
        x+= '000'
    return x
fun3("40.5K")
temp["no. of reviews"] =temp["no. of reviews"].apply(fun3)
temp.head()

   price       cuisine reviews       location no. of reviews
0  400.0       Biryani     4.1   Urban Estate           3083
0  400.0       Mughlai     4.1   Urban Estate           3083
0  400.0         Kebab     4.1   Urban Estate           3083
0  400.0    Hyderabadi     4.1   Urban Estate           3083
1  400.0  South Indian     4.3  Shastri Nagar          40000

NameError: name 'temp' is not defined

In [182]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
temp['cuisine']= label_encoder.fit_transform(temp['cuisine'])
temp['cuisine'].unique()
temp['location']= label_encoder.fit_transform(temp['location'])
temp['location'].unique()

array([11,  9,  6,  7,  5,  0,  1,  3,  4, 10,  2,  8])

In [183]:
temp.isna().sum()
temp = temp.dropna()

In [243]:
temp['cuisine'].unique()

array([50, 27, 22, 17, 74,  9, 28, 14, 39,  5, 12, 48, 68, 36, 37, 70, 75,
       51,  6, 11, 71, 38,  3, 58, 32, 65,  7, 54, 29, 57, 18, 59, 35, 34,
       44, 19, 49, 20, 40,  2, 24, 26,  0, 33, 72, 16, 31, 43, 23, 52, 56,
       21,  4, 60, 10, 55, 45, 25,  8, 66, 61, 73, 67, 47, 76, 15, 46, 64,
       42, 69, 30, 41, 13, 62, 53, 63,  1])

In [184]:
test = temp[temp["reviews"]=='New']
train = temp[temp["reviews"]!='New']

In [185]:
def dot(x):
    x = x.replace("-","0")
    return x
# test["reviews"] = test["reviews"].astype(str)
# test["reviews"] = test["reviews"].apply(dot)
# test["reviews"] = test["reviews"].astype(float)
train["reviews"] = train["reviews"].astype(str)
train["reviews"] = train["reviews"].apply(dot)
# train["reviews"] = train["reviews"].replace("",)

train["reviews"] = train["reviews"].astype(float)

<ipython-input-185-698529cd4d86>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["reviews"] = train["reviews"].astype(str)
<ipython-input-185-698529cd4d86>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["reviews"] = train["reviews"].apply(dot)
<ipython-input-185-698529cd4d86>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["reviews"] = train["reviews"].astype(float)

In [220]:
print(train["reviews"].value_counts())
train["no. of reviews"] = train["no. of reviews"].astype(float)
train["reviews"]=train["reviews"].replace(0,train["reviews"].mean())
train

3.184418    353
4.000000    282
4.100000    226
3.900000    168
4.200000    131
3.800000    130
4.300000    114
3.700000     96
3.400000     69
3.500000     62
4.400000     60
3.600000     54
4.500000     32
3.300000     28
3.200000     24
3.000000     12
2.700000      8
3.100000      8
4.600000      6
2.800000      5
2.900000      4
4.700000      2
Name: reviews, dtype: int64

<ipython-input-220-a97578043e3e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["no. of reviews"] = train["no. of reviews"].astype(float)
<ipython-input-220-a97578043e3e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["reviews"]=train["reviews"].replace(0,train["reviews"].mean())

     price  cuisine  reviews  location  no. of reviews
0    400.0       50      4.1        11          3083.0
0    400.0       27      4.1        11          3083.0
0    400.0       22      4.1        11          3083.0
0    400.0       17      4.1        11          3083.0
1    400.0       74      4.3         9         40000.0
..     ...      ...      ...       ...             ...
641  100.0       27      3.5         9           388.0
642  150.0       71      4.1         9            97.0
642  150.0       28      4.1         9            97.0
644  150.0       51      4.4         9           321.0
644  150.0        9      4.4         9           321.0

[1874 rows x 5 columns]

In [221]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(train.drop(columns=["reviews"]), train["reviews"])

LinearRegression()

In [252]:
model.predict([[100,74,9,50000]])

array([4.63273889])

In [253]:
train["no. of reviews"].dtype

dtype('float64')

In [255]:
import statsmodels.api as smf
X=smf.add_constant(train.drop(columns=["reviews"]))
lm = smf.OLS(train["reviews"], train.drop(columns=["reviews"])).fit()
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                reviews   R-squared (uncentered):                   0.876
Model:                            OLS   Adj. R-squared (uncentered):              0.876
Method:                 Least Squares   F-statistic:                              3298.
Date:                Thu, 30 Dec 2021   Prob (F-statistic):                        0.00
Time:                        16:54:17   Log-Likelihood:                         -3209.6
No. Observations:                1874   AIC:                                      6427.
Df Residuals:                    1870   BIC:                                      6449.
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
price              0.0077      0.000     27.914      0.000       0.007       0.008
cuisine            0.0258      0.001     22.712      0.000       0.024       0.028
location           0.1872      0.008     24.759      0.000       0.172       0.202
no. of reviews  4.247e-05   5.08e-06      8.360      0.000    3.25e-05    5.24e-05
==============================================================================
Omnibus:                       23.498   Durbin-Watson:                   0.688
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.915
Skew:                          -0.265   Prob(JB):                     6.41e-06
Kurtosis:                       2.840   Cond. No.                     1.63e+03
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 1.63e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [260]:
model.score(train.drop(columns=["reviews"]),train["reviews"])

0.07699054582802223

In [281]:
from sklearn.tree import DecisionTreeRegressor
model2 = DecisionTreeRegressor(max_depth=3, criterion='mse')
model2.fit(train.drop(columns=["reviews"]), train["reviews"])

DecisionTreeRegressor(max_depth=3)

In [274]:
model2.score(train.drop(columns=["reviews"]),train["reviews"])

0.7480911865064965

In [ ]:
model2.fit()

In [403]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train.drop(columns=["reviews"]),train["reviews"], test_size=0.20, random_state=10)

In [404]:
model2.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=3)

In [405]:
model2.score(X_test,y_test)

0.5860812605482051

In [406]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestRegressor
mod =RandomForestRegressor(n_estimators = 15,random_state=13)
mod.fit(X_train, y_train)

RandomForestRegressor(n_estimators=15, random_state=13)

In [407]:
mod.score(X_test,y_test)

0.8481847529379515

In [366]:
mod.score(X_train, y_train)

0.9661077253544871

In [ ]:
mod.predict([[100,]])

In [440]:
mod.predict([[100,3,8,450]]).round(2)

array([3.89])

In [384]:
from sklearn.svm import SVR
regressor = SVR()
regressor.fit(X_train,y_train)
regressor.score(X_test,y_test)
regressor.score(X_train, y_train)

0.29965774852741456

In [310]:
from sklearn.model_selection import GridSearchCV

param_grid = {  'bootstrap': [True], 'max_depth': [5, 10, None], 'max_features': ['auto', 'log2'], 'n_estimators': [5, 6, 7, 8, 9, 10, 11, 12, 13, 15]}

In [311]:
rfr = RandomForestRegressor(random_state = 1)

g_search = GridSearchCV(estimator = rfr, param_grid = param_grid, 
                        cv = 3, n_jobs = 1, verbose = 0, return_train_score=True)

In [312]:
g_search.fit(X_train, y_train)
print(g_search.best_params_)

{'bootstrap': True, 'max_depth': None, 'max_features': 'auto', 'n_estimators': 15}

In [314]:
print(g_search.score(X_test, y_test))

0.7999732582030468

In [315]:
print(g_search.score(X_train, y_train))

0.9639606201562897

In [320]:
import numpy as np

from sklearn.model_selection import RandomizedSearchCV

n_estimators = [int(x) for x in np.linspace(start = 5 , stop = 15, num = 10)] # returns 10 numbers 

max_features = ['auto', 'log2']

max_depth = [int(x) for x in np.linspace(5, 10, num = 2)] 

max_depth.append(None)

bootstrap = [True, False]

r_grid = {'n_estimators': n_estimators,

               'max_features': max_features,

               'max_depth': max_depth,

               'bootstrap': bootstrap}

print(r_grid)

{'n_estimators': [5, 6, 7, 8, 9, 10, 11, 12, 13, 15], 'max_features': ['auto', 'log2'], 'max_depth': [5, 10, None], 'bootstrap': [True, False]}

In [324]:
rfr_random = RandomizedSearchCV(estimator=rfr, param_distributions=r_grid, n_iter = 20, cv = 3, verbose=2, random_state=42, n_jobs=-1, return_train_score=True)

rfr_random.fit(X_train, y_train);

Fitting 3 folds for each of 20 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    0.9s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:    2.5s finished

In [325]:
print(rfr_random.score(X_test , y_test))

0.791416055432796

In [326]:
print(rfr_random.score(X_train , y_train))

0.9590009372092554

In [332]:
from sklearn.preprocessing import StandardScaler
norm_pay = StandardScaler().fit(X_train)
X_train_norm = norm_pay.transform(X_train)
X_test_norm = norm_pay.transform(X_test

In [333]:
mod.fit(X_train_norm, y_train)

RandomForestRegressor(n_estimators=15, random_state=13)

In [334]:
mod.score(X_train_norm, y_train)

0.9667154017093147

In [336]:
mod.score(X_test_norm , y_test)

0.7864225550621444

In [417]:
jal['cuisine']

0                    Biryani, Mughlai, Kebab, Hyderabadi
1      South Indian, Chinese, North Indian, Fast Food...
2                                Biryani, Kebab, Mughlai
3                  Bakery, Chinese, Fast Food, Beverages
4                North Indian, Mughlai, Chinese, Seafood
                             ...
640                                         North Indian
641                                North Indian, Mughlai
642                                  Rolls, North Indian
643                               Street Food, Fast Food
644                                      Burger, Chinese
Name: cuisine, Length: 645, dtype: object

In [422]:
jal.assign(cuisine = jal['cuisine'].str.split(',')).explode('cuisine')

,name,price,cuisine,reviews,Location url,location,no. of reviews
0,Biryani By Kilo,?400 for one,Biryani,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Mughlai,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Kebab,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
0,Biryani By Kilo,?400 for one,Hyderabadi,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083"
1,Food Bazar,?400 for one,South Indian,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K
...,...,...,...,...,...,...,...
642,Veggie Chaap,?150 for one,North Indian,4.1,https://www.zomato.com/jalandhar/veggie-chaap-...,Shastri Nagar,97
643,Bombay Chaupati,NaN,Street Food,3.9,https://www.zomato.com/jalandhar/bombay-chaupa...,Model Town,175
643,Bombay Chaupati,NaN,Fast Food,3.9,https://www.zomato.com/jalandhar/bombay-chaupa...,Model Town,175
644,Sehgal Fast Food,?150 for one,Burger,4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...,Shastri Nagar,321
644,Sehgal Fast Food,?150 for one,Chinese,4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...,Shastri Nagar,321

In [426]:
jal[jal['cuisine']=='Beverage']

Empty DataFrame
Columns: [name, price, cuisine, reviews, Location url, location, no. of reviews]
Index: []

In [428]:
jal.assign(cuisine = jal['cuisine'].str.split(',')).explode('cuisine')["cuisine"].unique()

array(['Biryani', ' Mughlai', ' Kebab', ' Hyderabadi', 'South Indian',
       ' Chinese', ' North Indian', ' Fast Food', ' Street Food',
       ' Beverages', ' Desserts', 'Bakery', 'North Indian', ' Seafood',
       ' Shake', 'Pizza', 'Street Food', 'Burger', ' Biryani',
       ' Continental', 'Rolls', ' South Indian', ' BBQ', 'Fast Food',
       ' Pizza', 'Mithai', ' Burger', 'Chinese', ' Oriental', 'Desserts',
       ' Ice Cream', 'Healthy Food', ' Sandwich', ' Salad', ' Wraps',
       ' Italian', 'Beverages', ' Japanese', ' Sushi', ' Asian',
       ' Mexican', ' Momos', ' American', ' Rolls', 'Salad',
       ' Healthy Food', ' Pasta', ' Waffle', ' Lebanese', 'Cafe',
       'Continental', ' Juices', ' Bakery', 'Ice Cream', ' Coffee',
       'Coffee', 'American', ' Mithai', ' Cafe', 'Momos', 'Italian',
       'Sandwich', 'Mughlai', 'BBQ', 'Tibetan', ' Finger Food', 'Asian',
       'Mexican', ' Thai', 'Pasta', ' Panini', ' Tea', ' European',
       'Juices', 'Charcoal Chicken', 'Lebanese', ' Arabian'], dtype=object)

In [274]:
import pandas as pd
import json
df = pd.read_csv("C:\\Users\\Lenovo\\Data Science\\Zomato_Github_Download\\Zomato_Restaurant_Rating_Prediction-main/jalandhar_zomato.csv")
df

,name,price,cuisine,reviews,Location url,location,no. of reviews,City
0,Biryani By Kilo,?400 for one,Biryani,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083",Jalandhar
1,Biryani By Kilo,?400 for one,Mughlai,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083",Jalandhar
2,Biryani By Kilo,?400 for one,Kebab,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083",Jalandhar
3,Biryani By Kilo,?400 for one,Hyderabadi,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083",Jalandhar
4,Food Bazar,?400 for one,South Indian,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K,Jalandhar
...,...,...,...,...,...,...,...,...
1972,Veggie Chaap,?150 for one,North Indian,4.1,https://www.zomato.com/jalandhar/veggie-chaap-...,Shastri Nagar,97,Jalandhar
1973,Bombay Chaupati,NaN,Street Food,3.9,https://www.zomato.com/jalandhar/bombay-chaupa...,Model Town,175,Jalandhar
1974,Bombay Chaupati,NaN,Fast Food,3.9,https://www.zomato.com/jalandhar/bombay-chaupa...,Model Town,175,Jalandhar
1975,Sehgal Fast Food,?150 for one,Burger,4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...,Shastri Nagar,321,Jalandhar
1976,Sehgal Fast Food,?150 for one,Chinese,4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...,Shastri Nagar,321,Jalandhar

In [275]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [276]:
le.fit(df["City"])

LabelEncoder()

In [277]:
df["City"] = le.fit_transform(df["City"])
label_encoding_dict = dict()
for num, label in enumerate(le.classes_):
    label_encoding_dict[label] = num 
print(json.dumps(label_encoding_dict, indent = 4))

{
    "Jalandhar": 0
}

In [278]:
city_d = json.dumps(label_encoding_dict, indent = 4)
print(city_d)

{
    "Jalandhar": 0
}

In [279]:
s = le.fit_transform(df["cuisine"])
label_encoding_dict = dict()
for num, label in enumerate(le.classes_):
    label_encoding_dict[label] = num 
print(json.dumps(label_encoding_dict, indent = 4))

{
    "American": 0,
    "Arabian": 1,
    "Asian": 2,
    "BBQ": 3,
    "Bakery": 4,
    "Beverages": 5,
    "Biryani": 6,
    "Burger": 7,
    "Cafe": 8,
    "Charcoal Chicken": 9,
    "Chinese": 10,
    "Coffee": 11,
    "Continental": 12,
    "Desserts": 13,
    "European": 14,
    "Fast Food": 15,
    "Finger Food": 16,
    "Healthy Food": 17,
    "Hyderabadi": 18,
    "Ice Cream": 19,
    "Italian": 20,
    "Japanese": 21,
    "Juices": 22,
    "Kebab": 23,
    "Lebanese": 24,
    "Mexican": 25,
    "Mithai": 26,
    "Momos": 27,
    "Mughlai": 28,
    "North Indian": 29,
    "Oriental": 30,
    "Panini": 31,
    "Pasta": 32,
    "Pizza": 33,
    "Rolls": 34,
    "Salad": 35,
    "Sandwich": 36,
    "Seafood": 37,
    "Shake": 38,
    "South Indian": 39,
    "Street Food": 40,
    "Sushi": 41,
    "Tea": 42,
    "Thai": 43,
    "Tibetan": 44,
    "Waffle": 45,
    "Wraps": 46
}

In [280]:
s = le.fit_transform(df["location"])
label_encoding_dict = dict()
for num, label in enumerate(le.classes_):
    label_encoding_dict[label] = num 
print(json.dumps(label_encoding_dict, indent = 4))

{
    "Adarsh Nagar": 0,
    "GT Road": 1,
    "Jalandhar Cantt": 2,
    "Maqsudan": 3,
    "Model House": 4,
    "Model Town": 5,
    "Nakodar Road": 6,
    "PPR Market": 7,
    "Rama Mandi": 8,
    "Shastri Nagar": 9,
    "Transport Nagar": 10,
    "Urban Estate": 11
}

# More relevant part

In [281]:
temp = df

In [282]:
temp.drop(columns=["name","Location url"],inplace=True)

In [283]:
def fun(x):
    x = x.replace("?","")
    x =x.replace(" for one","")
    return x
temp["price"] = temp["price"].astype(str)
temp["price"] = temp["price"].apply(fun)
temp["price"] = temp["price"].astype(float)
temp.head()

   price       cuisine reviews       location no. of reviews  City
0  400.0       Biryani     4.1   Urban Estate          3,083     0
1  400.0       Mughlai     4.1   Urban Estate          3,083     0
2  400.0         Kebab     4.1   Urban Estate          3,083     0
3  400.0    Hyderabadi     4.1   Urban Estate          3,083     0
4  400.0  South Indian     4.3  Shastri Nagar          40.5K     0

In [284]:
temp["no. of reviews"] =temp["no. of reviews"].astype(str) 
def fun2(x):
    x = x.replace(",","")
    return x
temp["no. of reviews"] =temp["no. of reviews"].apply(fun2)
temp.head()

   price       cuisine reviews       location no. of reviews  City
0  400.0       Biryani     4.1   Urban Estate           3083     0
1  400.0       Mughlai     4.1   Urban Estate           3083     0
2  400.0         Kebab     4.1   Urban Estate           3083     0
3  400.0    Hyderabadi     4.1   Urban Estate           3083     0
4  400.0  South Indian     4.3  Shastri Nagar          40.5K     0

In [285]:
def fun3(x):
    if 'K' in x:
        x = x.replace("K","")
        x = x.split(".")[0]
        x+= '000'
    return x
fun3("40.5K")
temp["no. of reviews"] =temp["no. of reviews"].apply(fun3)
temp.head()

   price       cuisine reviews       location no. of reviews  City
0  400.0       Biryani     4.1   Urban Estate           3083     0
1  400.0       Mughlai     4.1   Urban Estate           3083     0
2  400.0         Kebab     4.1   Urban Estate           3083     0
3  400.0    Hyderabadi     4.1   Urban Estate           3083     0
4  400.0  South Indian     4.3  Shastri Nagar          40000     0

In [286]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
temp['cuisine']= label_encoder.fit_transform(temp['cuisine'])
temp['cuisine'].unique()
temp['location']= label_encoder.fit_transform(temp['location'])
temp['location'].unique()
temp["reviews"].unique()

array(['4.1', '4.3', '3.9', '4', '3.8', '3.6', '4.2', '4.4', '3.7', '3.5',
       '4.5', '3.2', '3.4', '3.3', '4.6', '-', 'New', '3.1', '2.8', '3',
       '4.7', '2.9', '2.7'], dtype=object)

In [287]:
temp.isna().sum()
temp = temp.dropna()

In [288]:
# def dot(x):
#     x = x.replace("-", "0")
#     return x

# temp[temp["reviews"]!='New'].unique()

# temp["reviews"] = temp["reviews"].astype(str)
# temp["reviews"] = temp["reviews"].apply(dot)
temp["reviews"] = temp["reviews"].replace("-",0)
temp
# temp["reviews"] = temp["reviews"].astype(float)
temp["reviews"].unique()
temp = temp[temp["reviews"]!='New']
temp["reviews"] = temp["reviews"].astype(float)

temp["reviews"] = temp["reviews"].replace(0,temp["reviews"].mean())
temp

<ipython-input-288-6bade46a6510>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["reviews"] = temp["reviews"].replace("-",0)

      price  cuisine  reviews  location no. of reviews  City
0     400.0        6      4.1        11           3083     0
1     400.0       28      4.1        11           3083     0
2     400.0       23      4.1        11           3083     0
3     400.0       18      4.1        11           3083     0
4     400.0       39      4.3         9          40000     0
...     ...      ...      ...       ...            ...   ...
1970  100.0       28      3.5         9            388     0
1971  150.0       34      4.1         9             97     0
1972  150.0       29      4.1         9             97     0
1975  150.0        7      4.4         9            321     0
1976  150.0       10      4.4         9            321     0

[1874 rows x 6 columns]

In [289]:
print(temp["reviews"].value_counts())
temp["no. of reviews"] = temp["no. of reviews"].astype(float)
temp["reviews"]=temp["reviews"].replace(0,temp["reviews"].mean())
temp

3.184418    353
4.000000    282
4.100000    226
3.900000    168
4.200000    131
3.800000    130
4.300000    114
3.700000     96
3.400000     69
3.500000     62
4.400000     60
3.600000     54
4.500000     32
3.300000     28
3.200000     24
3.000000     12
2.700000      8
3.100000      8
4.600000      6
2.800000      5
2.900000      4
4.700000      2
Name: reviews, dtype: int64

      price  cuisine  reviews  location  no. of reviews  City
0     400.0        6      4.1        11          3083.0     0
1     400.0       28      4.1        11          3083.0     0
2     400.0       23      4.1        11          3083.0     0
3     400.0       18      4.1        11          3083.0     0
4     400.0       39      4.3         9         40000.0     0
...     ...      ...      ...       ...             ...   ...
1970  100.0       28      3.5         9           388.0     0
1971  150.0       34      4.1         9            97.0     0
1972  150.0       29      4.1         9            97.0     0
1975  150.0        7      4.4         9           321.0     0
1976  150.0       10      4.4         9           321.0     0

[1874 rows x 6 columns]

In [290]:
import statsmodels.api as smf
X=smf.add_constant(temp.drop(columns=["reviews"]))
lm = smf.OLS(temp["reviews"], temp.drop(columns=["reviews"])).fit()
lm.summary()

C:\Users\Lenovo\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                reviews   R-squared (uncentered):                   0.886
Model:                            OLS   Adj. R-squared (uncentered):              0.886
Method:                 Least Squares   F-statistic:                              3644.
Date:                Sat, 15 Jan 2022   Prob (F-statistic):                        0.00
Time:                        13:34:02   Log-Likelihood:                         -3127.2
No. Observations:                1874   AIC:                                      6262.
Df Residuals:                    1870   BIC:                                      6284.
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
price              0.0067      0.000     24.085      0.000       0.006       0.007
cuisine            0.0573      0.002     27.116      0.000       0.053       0.061
location           0.1734      0.007     23.710      0.000       0.159       0.188
no. of reviews  3.814e-05   4.87e-06      7.838      0.000    2.86e-05    4.77e-05
City                    0          0        nan        nan           0           0
==============================================================================
Omnibus:                       14.378   Durbin-Watson:                   0.793
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               14.363
Skew:                          -0.198   Prob(JB):                     0.000761
Kurtosis:                       2.837   Cond. No.                          inf
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [291]:
temp.columns = ["Price","Cuisine","Ratings","Location","No. of Reviews","City"]
temp.head()

   Price  Cuisine  Ratings  Location  No. of Reviews  City
0  400.0        6      4.1        11          3083.0     0
1  400.0       28      4.1        11          3083.0     0
2  400.0       23      4.1        11          3083.0     0
3  400.0       18      4.1        11          3083.0     0
4  400.0       39      4.3         9         40000.0     0

In [292]:
temp = temp[['City', 'Location', 'Cuisine', 'Ratings', 'No. of Reviews','Price']]
temp.head()

   City  Location  Cuisine  Ratings  No. of Reviews  Price
0     0        11        6      4.1          3083.0  400.0
1     0        11       28      4.1          3083.0  400.0
2     0        11       23      4.1          3083.0  400.0
3     0        11       18      4.1          3083.0  400.0
4     0         9       39      4.3         40000.0  400.0

In [293]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp.drop(columns=["Ratings"]),temp["Ratings"], test_size=0.2, random_state=10001)

In [294]:
from sklearn.preprocessing import StandardScaler
norm_pay = StandardScaler().fit(X_train)
X_train_norm = norm_pay.transform(X_train)
X_test_norm = norm_pay.transform(X_test)

In [295]:
import numpy as np

from sklearn.model_selection import RandomizedSearchCV

n_estimators = [int(x) for x in np.linspace(start = 5 , stop = 15, num = 10)] # returns 10 numbers 

max_features = ['auto', 'log2']

max_depth = [int(x) for x in np.linspace(5, 10, num = 2)] 

max_depth.append(None)

bootstrap = [True, False]

r_grid = {'n_estimators': n_estimators,

               'max_features': max_features,

               'max_depth': max_depth,

               'bootstrap': bootstrap}

print(r_grid)

{'n_estimators': [5, 6, 7, 8, 9, 10, 11, 12, 13, 15], 'max_features': ['auto', 'log2'], 'max_depth': [5, 10, None], 'bootstrap': [True, False]}

In [296]:
rfr = RandomForestRegressor(random_state = 1)
from sklearn.model_selection import GridSearchCV
g_search = GridSearchCV(estimator = rfr, param_grid = r_grid, 
                        cv = 3, n_jobs = 1, verbose = 0, return_train_score=True)

In [297]:
rfr_random = RandomizedSearchCV(estimator=rfr, param_distributions=r_grid, n_iter = 20, cv = 3, verbose=2, random_state=42, n_jobs=-1, return_train_score=True)

rfr_random.fit(X_train, y_train);

Fitting 3 folds for each of 20 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:    7.1s finished

In [314]:
print(rfr_random.score(X_train, y_train))
rfr_random.score(X_test, y_test)

0.9660920694606755

0.803010634181768

In [370]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestRegressor
mod =RandomForestRegressor(n_estimators = 300,random_state=48, max_depth=12,min_samples_leaf=3)
mod.fit(X_train, y_train)

RandomForestRegressor(max_depth=12, min_samples_leaf=3, n_estimators=300,
                      random_state=48)

In [371]:
mod.score(X_train, y_train)

0.8747157502007119

In [372]:
mod.score(X_test, y_test)

0.7115675448391837

In [319]:
import bz2
import pickle
with open('model_pickle','wb') as file:
    pickle.dump(mod,file)
# sfile = bz2.BZ2File('C:\\Users\\Lenovo\\Data Science\\Zomato_Github_Download\\Zomato_Restaurant_Rating_Prediction-main\\bestmodel\\RandomforestRegressors.pkl', 'wb')
# pickle.dump(mod, sfile)

In [303]:
# df = pd.read_csv("C:\\Users\\Lenovo\\Data Science\\Zomato_Github_Download\\Zomato_Restaurant_Rating_Prediction-main/jalandhar_zomato.csv")
# df

In [304]:
s = df["cuisine"].unique()

In [305]:
s.sort()
cuisine = pd.DataFrame(s)
cuisine.columns = ["Cuisine"]
cuisine.head()

   Cuisine
0        0
1        1
2        2
3        3
4        4

In [307]:
# s = le.fit_transform(temp["Cuisine"])
# label_encoding_dict = dict()
# for num, label in enumerate(le.classes_):
#     label_encoding_dict[label] = num 
# cuisine_json = json.dumps(label_encoding_dict,indent=4)
# print(cuisine_json)

In [308]:
s = df["City"].unique()
s.sort()
city = pd.DataFrame(s)
city.columns = ["Cuisine"]
city.head()

   Cuisine
0        0

In [63]:
s = le.fit_transform(df["City"])
label_encoding_dict = dict()
for num, label in enumerate(le.classes_):
    label_encoding_dict[label] = num 
city_json = json.dumps(label_encoding_dict, indent=4)
print(city_json)

{
    "Jalandhar": 0
}

In [312]:
temp

      City  Location  Cuisine  Ratings  No. of Reviews  Price
0        0        11        6      4.1          3083.0  400.0
1        0        11       28      4.1          3083.0  400.0
2        0        11       23      4.1          3083.0  400.0
3        0        11       18      4.1          3083.0  400.0
4        0         9       39      4.3         40000.0  400.0
...    ...       ...      ...      ...             ...    ...
1970     0         9       28      3.5           388.0  100.0
1971     0         9       34      4.1            97.0  150.0
1972     0         9       29      4.1            97.0  150.0
1975     0         9        7      4.4           321.0  150.0
1976     0         9       10      4.4           321.0  150.0

[1874 rows x 6 columns]

In [313]:
temp.to_csv("zomato_final_data.csv")

In [259]:
df = pd.read_csv("C:\\Users\\Lenovo\\Data Science\\Zomato_Github_Download\\Zomato_Restaurant_Rating_Prediction-main/jalandhar_zomato.csv")
df

,name,price,cuisine,reviews,Location url,location,no. of reviews,City
0,Biryani By Kilo,?400 for one,Biryani,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083",Jalandhar
1,Biryani By Kilo,?400 for one,Mughlai,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083",Jalandhar
2,Biryani By Kilo,?400 for one,Kebab,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083",Jalandhar
3,Biryani By Kilo,?400 for one,Hyderabadi,4.1,https://www.zomato.com/jalandhar/biryani-by-ki...,Urban Estate,"3,083",Jalandhar
4,Food Bazar,?400 for one,South Indian,4.3,https://www.zomato.com/jalandhar/food-bazar-sh...,Shastri Nagar,40.5K,Jalandhar
...,...,...,...,...,...,...,...,...
1972,Veggie Chaap,?150 for one,North Indian,4.1,https://www.zomato.com/jalandhar/veggie-chaap-...,Shastri Nagar,97,Jalandhar
1973,Bombay Chaupati,NaN,Street Food,3.9,https://www.zomato.com/jalandhar/bombay-chaupa...,Model Town,175,Jalandhar
1974,Bombay Chaupati,NaN,Fast Food,3.9,https://www.zomato.com/jalandhar/bombay-chaupa...,Model Town,175,Jalandhar
1975,Sehgal Fast Food,?150 for one,Burger,4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...,Shastri Nagar,321,Jalandhar
1976,Sehgal Fast Food,?150 for one,Chinese,4.4,https://www.zomato.com/jalandhar/sehgal-fast-f...,Shastri Nagar,321,Jalandhar

In [261]:
temp.dtypes

City                int32
Location            int32
Cuisine             int32
Ratings           float64
No. of Reviews    float64
dtype: object

In [262]:
temp.columns

Index(['City', 'Location', 'Cuisine', 'Ratings', 'No. of Reviews'], dtype='object')